
{% extends "login_base.html" %}
{% load static %}
{% load socialaccount %}
{% block head %}
    <link href="{% static 'style/css/login.css' %}" rel="stylesheet">
	<style>
	    *{
	        font-size: 100%;
	    }
		@media screen and (max-width : 900px){
        html {font-size:0.8rem}  
    	}

    	@media screen and (max-width : 560px){
    	    html {font-size:0.6rem}  
    	}
    	@media screen and (max-width : 900px){
    		#image-container{
    		  display: none;
    		}
    		#image-container img {
    		  display: none;
    		}
    		#left-container{
    		  margin-right: 0px!important;
    		} 
		}
	</style>
{% endblock %}

{% block content %}
<div id="left-container" class="col-5 d-flex flex-column justify-content-center">
    <div style="margin-bottom: 3.125rem;">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div>
		<div class="d-flex flex-column" style="font-size: 0.875rem; font-weight: bold;">
			<p> 입력한 이메일로 가입된 계정이 없어 메일 전송에 <br>실패했습니다.
				<br><br>
				가입된 이메일을 정확히 확인하시어 다시 <br>시도해주시기 바랍니다.</p> <br>
		</div>
    </div>
	<a href="{% url 'user:login' %}"><button class="btn regular-size button-black">로그인 페이지로</button></a>
</div>
{%endblock%}