{% extends 'base.html' %}
{% load static %}
{% load pybo_filter %}
{% block head %}

    <link href="{% static 'style/css/challenge.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class = 'container-fluid mt-4 text-center' style='width:80%;'>

    <table class='table table-borderless table-hover'>
        <thead>
            <tr class ="list-header">
                <th scope='col col-1'>번호</th>
                <th scope='col col-7' style="text-align:start;">제목</th>
                <th scope='col-2'>작성자</th>
                <th scope='col-2'>날짜</th>
            </tr>
        </thead>
        <tbody>
            {% if challenge_list %}
            {% for challenge in challenge_list %}
            <tr class="list-main text-center">
                <th scope='row' style="font-weight: normal;">{{ paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1 }}</th>
                <td style="text-align:start;">
                    {% if request.user.is_authenticated %}
                    <a href='{% url "event:challenge_detail" challenge.pk %}' class= 'button-a'>{{ challenge.title|truncatechars:30 }}</a>
                    {% else %}
                    <a onclick="alert('로그인이 필요한 서비스입니다.')" href="{% url 'user:login' %}" class='button-a'>{{ challenge.title|truncatechars:30 }}</a>
                    {% endif %}
                </td>
                <td>관리자</td>
                <td>{{ challenge.created_at|date:'Y. m. d' }}</td>
            </tr>
            {% endfor %}
            {% else %}
                <tr class='list-main text-center'>
                    <th style="font-weight: normal;" scope='row'>0</th>
                    <td style="text-align:start;">작성된 게시글이 없습니다.</td>
                    <td>관리자</td>
                    <td></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class ="line">
        
    </div>
    <div class="col-md-offset-6">
        {% if is_paginated %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link page-link-2" href="?page={{ page_obj.previous_page_number }}"
                    tabindex="-1">&lt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link page-link-2" href="#" tabindex="-1">&lt;</a>
            </li>
            {% endif %}

            {% for page in page_range %}
            <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
                <a class="page-link page-link-circle" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link page-link-2"
                    href="?page={{ page_obj.next_page_number }}">&gt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link page-link-2" href="#">&gt;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class='col-md-offset-6'>
    {% if q %}
    <button type='submit' style='border:0; border-radius: 10px;' class= 'mb-4'>
        <a href = '{% url "event:challenge" %}' class='moveto-other-page'>뒤로가기</a>
    </button>
    {% endif %}
    </div>
</div>
{% endblock %}
