{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style/css/issue_detail.css' %}" />
{% endblock %}

{% block content %}
<div class='container-fluid mt-4 mb-3' id="container" style='width:70%;'>
    <div class="row border-bottom">
        <span class="issue-title"> {{ issue.title }}</span>
        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-between" id="issue-header">
            <div class="col">
                <span id="issue-head"><img class="lazyload" id='issue-detail-thumbnail' data-src="{% static 'images/baseimg.jpg' %}">관리자</span>
                <span>&#183</span>
                <span id="issue-date">{{issue.created_at | date:"Y.m.d h:m"}}</span>
            </div>
            {% comment %} <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-outline-success" id="issue-follow-button">팔로우</button> 
            </div> {% endcomment %}
        </div>
    </div>
    <div class="row d-flex border-bottom" id="issue-content">
        <div id="issue-detail-content">
            {{ issue.content|safe }}
        </div>
        {% comment %} <div class="mt-4 mb-4">
            {% for tag in issue.tags.all %}
                <form action="{% url 'community:search_tag' tag %}" style="display: inline;">
                    <input class="tags" type="submit" value="{{ tag.name }}"></input>
                </form>
            {% endfor %}
        </div> {% endcomment %}
    </div>
    <div class="row mt-4 mb-4" id="issue-detail-like">
        <div>
            <img class="me-1" src="{% static 'images/heart_line.svg' %}" alt="하트">15
            <img class="me-1" src="{% static 'images/comment_line.svg' %}" alt="코멘트">2
            <span class="ms-2 me-1" id="issue-detail-views">조회수 {{views}}</span>
            {% comment %} <div style="display: inline">
                {% if user.is_authenticated %}
                    <button class="create-comment" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                        댓글 작성
                    </button>
                {% else %}
                    <p>댓글 작성을 위해서는 로그인이 필요합니다</p>
                {% endif %}
                <div class="collapse" id="collapseComment">
                    <form class="card card-body" action="." method="issue">
                        {% csrf_token %}
                        {{comment_form.media}}
                        {{ comment_form.as_p }}
                        <div class="d-flex justify-content-end">
                            <button class="comment-submit" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    {% comment %} <div class="row mt-4 mb-4" id="issue-detail-comment">
        {% for comment in comments %}
        <div class="comment comment-{{comment.id}}">
            <div class="comment-content mb-2">
                <span id="comment-head"><img class="lazyload" id='issue-detail-thumbnail' data-src="{{ comment.user_id.Image.url }}"> {{ comment.user_id }}</span>
                <div class="mt-2" id="comment-body">
                    {{ comment.content|safe }}
                    <div class="mt-1" > 
                        <span>{{ comment.created_at }}</span>
                        {% if user == issue.user_id or user == comment.user_id %}
                            <span class="trash" onclick="onClickDeleteComment({{issue.id}}, {{comment.id}})"><i class="far fa-trash-alt"></i></span>
                        {% endif %}
                        <button class="create-reply" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReply-{{comment.id}}" aria-expanded="false" aria-controls="collapseReply-{{comment.id}}">
                            답글
                        </button>
                    </div>
                </div>
                </p>
                <div class="collapse" id="collapseReply-{{comment.id}}" >
                    <form class="reply card card-body mb-4" action="." method="issue">
                        {% csrf_token %}
                        {{comment_form.media}}
                        {{ comment_form.as_p }}

                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <div class="d-flex justify-content-end">
                            <input class="create-reply" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>

            {% for reply in comment.replies.all %}
            <div class="reply-{{reply.parent_reply.id}} reply-{{reply.parent_reply.id}}-{{reply.id}}">
                <div class="reply-content mt-2 mb-2">
                    ㄴ<span id="reply-head"><img class="lazyload" id='issue-detail-thumbnail' data-src="{{ reply.user_id.Image.url }}"> {{ reply.user_id }}</span>
                    <div class="mt-2" id="reply-body"  style="padding-left: 1rem;">
                        {{ reply.content|safe }}
                        <div class="mt-1">
                        {{ reply.created_at }}
                        {% if user == issue.user_id or user == reply.user_id %}
                            <span class="trash" onclick="onClickDeleteReply({{reply.parent_reply.id}}, {{issue.id}}, {{reply.id}})"><i class="far fa-trash-alt"></i></span>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% empty %}
        <p>아직 작성된 댓글이 없습니다</p>
        {% endfor %} {% endcomment %}
    {% comment %} </div> {% endcomment %}

    {% comment %} {{issue}}<br>
    {{issue.writer}}<br> {% endcomment %}
{% endblock %}

{% block js %}
{% endblock %}