{% extends 'base.html' %}
{% load static %}
{% load pybo_filter %}
{% block head %}
<link href="{% static 'style/css/notice.css' %}" rel="stylesheet">
<link href="{% static 'style/css/issue_list.css' %}" rel="stylesheet">
{% endblock %}

{% block search %}
<form action='' method="GET" style="width:100%;">
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex  justify-content-between" id="search" style="width:80%;">
            <input class='search-input' type="text" name='q' value="{{q}}" placeholder="관심있는 카드뉴스를 검색해 보세요."/>
            <button class='searchbtn' type="submit"><img class='me-1' src='{% static 'images/search.svg' %}' alt='하트'></button>
        </div>
    </div>

</form>
{% endblock %}

{% block content %}

<div class="container-fluid main-body mt-4 mb-4" id="plant-body">

    {% if issue_list %}
    <div class='row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3'>
        {% for issue in issue_list %}
        <div class="col">
            <a href='{% url "event:issue_detail" issue.pk %}'>
                <div class="card" style="border: none;">
                    <div class="image">
                        <img src={{ issue.thumbnail.url}} alt="" class="lazyload card-img-top" id="plant-img">
                        <h3>{{issue.title|truncatechars:15}}<br> 알아보기</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ issue.title|truncatechars:30 }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    {% else %}
    {% if q %}
    <tr class='text-center'>
        <th scope='row'>0</th>
        <td>일치하는 게시글이 없습니다.</td>
        <td>관리자</td>
        <td></td>
    </tr>
    {% else %}
    <tr class='text-center'>
        <th scope='row'>0</th>
        <td>작성된 게시글이 없습니다.</td>
        <td>관리자</td>
        <td></td>
    </tr>
    {% endif %}
    {% endif %}

    <div class="col-md-offset-6">
        {% if is_paginated %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?q={{ q }}&page={{ page_obj.previous_page_number }}"
                    tabindex="-1" style="font-size: 15px;">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" style="font-size: 15px;">이전</a>
            </li>
            {% endif %}

            {% for page in page_range %}
            <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
                <a class="page-link" href="?q={{ q }}&page={{ page }}" style="font-size: 15px;">{{ page
                    }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?q={{ q }}&page={{ page_obj.next_page_number }}"
                    style="font-size: 15px;">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" style="font-size: 15px;">다음</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class='col-md-offset-6'>
        {% if q %}
        <button type='submit' style='border:0; border-radius: 10px;' class='mb-4'>
            <a href='{% url "event:issue" %}' class='moveto-other-page'>뒤로가기</a>
        </button>
        {% endif %}
    </div>

</div>
{% endblock %}