* {
  font-family: "Noto Sans KR" !important;
  font-size: 62.5%;
}
#search-header {
  width: 100%;
  background: url("/static/images/1.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: white;
  text-align: center;
}

#search-header-title {
  padding-top: 4%;
  margin-top: 50px;
  text-shadow: -1px -1px 0 #5a3e0a, 1px -1px 0 #5a3e0a, -1px 1px 0 #5a3e0a,
    1px 1px 0 #5a3e0a;
}

#search-header-form {
  height: 30%;
  width: 100%;
  margin-bottom: 3vh;
}

#search-header-form select {
  border: none;
  height: 37px;
}

.search-input-1 {
  border: none;
}

#post-list-thumbnail {
  overflow: hidden;
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 100%;
}
#postcard {
  border-radius: 0;
  margin-bottom: 1rem;
  padding: 2.5rem;
}
#postcard-follow {
  max-width: 100%;
  width: auto;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #76b79c;
  margin-right: 0.5rem;
}

#postcard-head {
  max-width: 100%;
  width: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
#postcard-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  display: inline-block;
  padding-left: 0.5rem;
}
#post-image {
  padding: 0;
  background-color: white;
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 1rem;
}
#post-tag-button {
  background-color: white;
  border-radius: 20px;
  border: 0.1rem solid #b1b1b1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #b1b1b1;
}
#postcard-date {
  font-size: 1.2rem;
  color: #b1b1b1;
}

#no-search-input {
  text-align: center;
  margin-top: 2rem;
}


#list-paginator {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#list-paginator .page-link {
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #354847;
  background-color: #f3f3f3;
}
#list-paginator .page-item:hover .page-link {
  color: white;
  background-color: #76b79c;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

