#makepost-main {
  margin: 0 auto;
  align-items: center;
}

#makepost-main > div > div > form > div:nth-child(5) > div > p:nth-child(4) > label{
  display: block !important;
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
}


#id_tags {
  width:100%;
}

.helptext {
  display:none;
}

#submit-input {
  background-color: #ccdfcc;
  border-radius: 10px;
  border: 0;
}

#submit-button {
  background-color: #c4c4c4;
  border-radius: 10px;
  border: 0;
}

#submit-button a {
  text-decoration: none;
  color: black;
}

#new-post-comment {
  writing-mode: vertical-rl;
}

#makepost-main > div > div > form > div:nth-child(5) > div > p > label{
  display: none;
}