* {
  font-family: "Noto Sans KR" !important;
  font-size: 62.5%;
  /*1rem : 10px*/
}

#container {
  min-height: 60rem;
}

.notice-detail-title {
  font-size: 2.6rem;
  margin-bottom: 4rem;
  font-weight: bold;
  color: #354847;
}

#notice-detail-header {
  margin-bottom: 5rem;
}

#notice-detail-head {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

#notice-detail-date {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  color: #8f8f8f;
}

#notice-detail-box {
  margin-top: 5rem;
  padding-bottom: 5rem;
}

#notice-detail-content p {
  overflow-x: auto;
}

#notice-detail-like {
  margin-bottom: 5rem;
}

#notice-detail-views {
  font-weight: bold;
  font-size: 1.4rem;
}

#notice-detail-content>figure.image.image_resized>img {
  width: inherit;
  height: inherit;
}

blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: 5px solid #ccc;
}