#notice-header {
  width: 100%;
  height: 300px;
  background: url("/static/images/notice-background.jpg");
  background-repeat: no-repeat;
  background-position: 80% 65%;
  background-size: cover;
  color: black;
  text-align: center;
}

.search-input {
  width: 80%;
  border-radius: 10px;
}

.search-input-1 {
  border-radius: 10px;
  background-color: #ccdfcc;
}
