div {
  font-family: "Gowun Batang", serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.post {
  position: relative;
  width: 50%;
}

.content {
  width: auto;
  padding: 25px;
  border: 1px solid gray;
  border-radius: 1rem;
}

.page-image {
  position: relative;
  width: 80%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.django-ckeditor-widget {
  width: 100%;
}

.post-title {
  font-size: x-large;
  font-weight: bold;
}

.tags {
  display: inline;
  position: relative;
  background: #a0cab5;
  z-index: 0;
  width: auto;
  height: 25px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: "Gowun Batang", serif;
  font-size: small;
}

.title-image {
  width: 25px;
  height: 25px;
}

.heart {
  color: #cc3d3d;
  background-color: transparent;
  border: 0;
}

.post-edit {
  width: auto;
  height: 170px;
  background: #ccdfcc;
  border: solid 3px #ccdfcc;
  border-radius: 10px;
  margin-top: 110px;
  box-shadow: 3px 3px 3px 0px #a0cab5;
}

.create-comment {
  position: relative;
  background: #ccdfcc;
  z-index: 0;
  width: 100px;
  height: 30px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Gowun Batang", serif;
  margin-bottom: 5px;
}

.create-reply {
  position: relative;
  background: #a0cab5;
  z-index: 0;
  width: 100px;
  height: 30px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Gowun Batang", serif;
  margin-bottom: 5px;
}

.comment-list {
  font-weight: bold;
  font-size: large;
  margin-top: 15px;
}

.comment-submit {
  position: relative;
  background: #ccdfcc;
  z-index: 0;
  width: 100px;
  height: 30px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Gowun Batang", serif;
}

.follow {
  position: relative;
  background: #a0cab5;
  width: auto;
  height: 25px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: "Gowun Batang", serif;
}

.reply {
  overflow: auto;
}

.comment-content {
  margin-right: 35px;
  border-radius: 10px;
  background-color: #ccdfcc;
  padding: 5px;
}

.reply-content {
  border-radius: 10px;
  background: rgba(92, 84, 39, 0.3);
  padding: 5px;
  margin-left: 35px;
}

.profile-img {
  overflow: hidden;
  width: 35px;
  height: 30px;
  padding: 2px;
  border-radius: 100%;
}

.trash {
  margin-left: 1vw;
  cursor: pointer;
}

.trash:hover {
  color: #cc3d3d;
}

#post-edit-container {
  width: auto;
}

#image-container {
  /* height: 100vh; */
}

@media screen and (max-width: 800px) {
  #image-container {
    display: none;
  }
  .main-container {
    display: block;
  }
  .post {
    width: 100vw;
  }
  .post-edit {
    width: 200px;
    margin: 0;
    margin: auto;
    margin-bottom: 20px;
  }

  #post-edit-container {
    width: 100%;
    margin: auto;
  }

  #post-edit-container hr {
    width: 100%;
    margin-top: 10px;
  }
}

.go-to-list {
  position: relative;
  background: #ccdfcc;
  z-index: 0;
  width: 100px;
  height: 30px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Gowun Batang", serif;
  margin-bottom: 5px;
}
