a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.page-image {
  position: relative;
  width: 100%;
  height: 107vh;
  overflow: hidden;
  object-fit: cover;
}

.page-phrase {
  writing-mode: vertical-rl;
  width: fit-content;
}

.page-phrase h4:first-child {
  margin-left: 1vw;
  margin-right: 1vw;
}

.page-phrase h4:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 1000px) {
  .page-image {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .page-phrase {
    display: none;
  }
}

.content-box {
  padding: 10px;
  margin: 10px;
  border: solid lightslategray 1px;
  border-radius: 10px;
}

.content-img {
  margin-right: 10px;
  width: 10rem;
  height: 10rem;
}

.title-img {
  width: 1.5rem;
  margin-right: 10px;
}

.profile-img {
  overflow: hidden;
  width: 35px;
  height: 30px;
  padding: 2px;
  border-radius: 100%;
}

.tag {
  background-color: blanchedalmond;
  border-radius: 10px;
}

#list-paginator {
  margin-bottom: 1rem;
}
