main {
  padding-bottom: 0;
}

#makeanswer-body {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

#makeanswer-main {
  margin: 0 auto;
  align-items: center;
}

#makeanswer-input {
  background-color: #ccdfcc;
  border-radius: 10px;
  border: 0;
}

#makeanswer-button {
  background-color: #c4c4c4;
  border-radius: 10px;
  border: 0;
}

#makeanswer-button a {
  text-decoration: none;
  color: black;
}

#makeanswer-writing {
  writing-mode: vertical-rl;
}

#makeanswer-writing h4 {
  margin-left: 1vw;
  margin-right: 1vw;
}

@media screen and (max-width: 800px) {
  #makeanswer-writing {
    display: none;
  }
}
