main {
  padding-bottom: 0;
}

#makeanswer-body {
  padding-bottom: 100px;
}

#makeanswer-main {
  margin: 0 auto;
  align-items: center;
}

#makeanswer-main > div > div > form > div.form-group.mb-3 > div > p > label{
  display: none;
}