#question-header {
  width: 100%;
  height: 300px;
  background: url("/static/images/q&a.jpeg");
  background-repeat: no-repeat;
  background-position: 80% 65%;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 0;
}

#question-header h1 {
  padding-top: 80px;
  margin-bottom: 25px;
}

#question-header form {
  height: 20%;
}

.search-input {
  width: 50%;
  height: 70%;
  border: solid 1px #a0cab5;
  border-radius: 10px;
}

.search-input-1 {
  width: 60px;
  height: 37px;
  border: 0;
  border-radius: 10px;
}

.button-a {
  text-decoration: none;
  color: black;
}

.move-to-other {
  border-radius: 10px;
}
