#container {
  min-height: 60rem;
}

.question-detail-title {
  font-size: 2.6rem;
  margin-bottom: 4rem;
  font-weight: bold;
  color: #354847;
}

#question-detail-header {
  margin-bottom: 5rem;
}

#question-detail-head {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

#question-detail-date {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  color: #8f8f8f;
}

#question-detail-thumbnail {
  overflow: hidden;
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 100%;
}

#question-detail-box {
  margin-top: 5rem;
  padding-bottom: 5rem;
}

#question-detail-content * {
  font-size: 1.6rem;
}

#question-detail-content p {
  overflow-x: auto;
}

#question-detail-like {
  margin-bottom: 5rem;
}

#question-detail-like * {
  font-weight: bold;
  font-size: 1.2rem;
}

.edit-button {
  border-radius: 15px;
  width: 7.5rem;
  background-color: white;
  border: solid 1px #8f8f8f;
}

.edit-button a {
  color: #8f8f8f;
  font-size: 1.2rem;
}

.tags {
  background-color: white;
  border-radius: 20px;
  padding: 0.6rem;
  border: 0.1rem solid #8f8f8f;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #8f8f8f;
  min-width: 4.3rem;
}

.create-answer {
  background-color: white;
  border-radius: 20px;
  padding: 0.6rem;
  border: 0.1rem solid #8f8f8f;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #8f8f8f;
  min-width: 4.3rem;
}

#ans-head {
  font-size: 1.4rem;
  font-weight: bold;
}

.ans-title {
  font-size: 1.7rem;
  font-weight: bold;
}

#ans-body p,
#ans-body span>* {
  font-size: 1.4rem;
}

#question-detail-content>figure>img {
  width: inherit;
  height: inherit;
}

#ans-body>figure>img {
  width: inherit;
  height: inherit;
}