#question-header {
  width: 100%;
  height: 300px;
  background: url("/static/images/q&a.jpeg");
  background-repeat: no-repeat;
  background-position: 80% 65%;
  background-size: cover;
  color: white;
  text-align: center;
}
