.search-input {
  width: 50%;
  height: 40px;
  border: solid 2px #ccdfcc;
  border-radius: 10px;
}

.search-input-1 {
  height: 37px;
  border: solid 2px #ccdfcc;
  border-radius: 10px;
  vertical-align: top;
  background: #ccdfcc;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 #a0cab5, 0 1px #a0cab5, 1px 0 #a0cab5, 0 -1px #a0cab5;
}

.button-a {
  text-decoration: none;
  color: black;
}

.page-link {
  padding: 0.25rem 0.6rem;
  color: #354847;
}
