{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style/css/notice_detail.css' %}" />
{% endblock %}

{% block button %}
<button class="go-to-main"><a href="{% url 'community:notice' %}">목록으로</a></button>
{% endblock %}  


{% block content %}
<div class='container-fluid mt-4 mb-3' id="container" style='width:70%;'>
    <div class="row border-bottom">
        <span class="notice-detail-title"> {{ notice.title }}</span>
        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-between" id="notice-detail-header">
            <div class="col">
                <span id="notice-detail-head">관리자</span>
                <span id="notice-detail-date">{{notice.created_at | date:"Y.m.d h:m"}}</span>
                <span class="ms-2 me-1" id="notice-detail-views">조회수 {{views}}</span>
            </div>
        </div>
    </div>
    <div class="row d-flex border-bottom" id="notice-detail-box">
        <div id="notice-detail-content">
            {{ notice.content|safe }}
        </div>
    </div>
</div>
{% endblock %}