{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style/css/post_detail.css' %}" />
{% endblock %}

{% block button %}
{% if request.user.is_authenticated %}
{% if post.user_id == request.user %}
<div>
    <button class="make-something">
        <a href="{% url 'community:post_delete' post.pk %}">포스트 삭제</a>
    </button>
    <button class="go-to-main">
        <a href="{% url 'community:post_update' post.pk %}">포스트 수정</a>
    </button>
</div>
{% else %}
    <button class="make-something">
        <a href="{% url 'community:post_create' %}">포스트 작성</a>
    </button>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<div class='container-fluid mt-4 mb-3' id="container" style='width:70%;'>
    <div class="row border-bottom">
        <span class="post-title"> {{ post.title }}</span>
        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-between" id="post-header">
            <div class="col">
                <span id="post-head"><img class="lazyload" id='post-detail-thumbnail' data-src="{{ post.user_id.Image.url }}"> 
                    <a href="{% url 'user:profile' post.user_id.pk%}">
                        {{ post.user_id }}
                    </a>
                </span>
                <span>&#183</span>
                <span id="post-date">{{post.created_at | date:"Y.m.d h:m"}}</span>
                <span class="ms-2 me-1" id="post-detail-views">조회수 {{views}}</span>
                
            </div>
            <div id="follow-wrapper" class="col d-flex justify-content-end">
            {% if request.user.is_authenticated%}
                {% if post.user_id != request.user %}
                    {% if is_following%}
                        <button type="button" class="btn btn-outline-success" onclick="onClickOtherDeleteFollow({{post.user_id.pk}})" id="post-follow-button">팔로우 취소</button>
                    {% else %}
                        <button type="button" class="btn btn-outline-success" onclick="onClickOtherFollowing({{post.user_id.pk}})" id="post-follow-button">팔로우</button> 
                    {% endif %}    
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row d-flex border-bottom" id="post-content">
        <div id="post-detail-content">
            {{ post.content|safe }}
        </div>
        <div class="mt-4 mb-4">
            {% for tag in post.tags.all %}
                <form action="{% url 'community:search_tag' tag %}" style="display: inline;">
                    <input class="tags" type="submit" value="{{ tag.name }}"></input>
                </form>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-4 mb-4" id="post-detail-like" >
        <div class="col ps-4 pe-4">
            <div class='likes post-id-{{ post.id }}' style="display: inline">
                {% if request.user.is_authenticated %}
                    {% if user.pk in liked_user %}
                        <span><a class="heart" onclick="onClickLike({{ post.id }})"> <img class="me-1" src="{% static 'images/heart_fill.svg' %}" alt="하트"></a></span>
                        <span class='like_num'>{{post.like_set.all.count}}</span>
                    {% else %}
                        <span><a class = 'heart' onclick="onClickLike({{ post.id }})"> <img class="me-1" src="{% static 'images/heart_line.svg' %}" alt="하트"></a></span>
                        <span class='like_num'>{{post.like_set.all.count}}</span>
                    {% endif %}
                {% else %}
                        <span><a class = 'heart'><a onclick="alert('로그인이 필요한 서비스입니다.')" href="{% url 'user:login' %}"> <img class="me-1" src="{% static 'images/heart_line.svg' %}" alt="하트"></a></a></span>
                        <span class='like_num'> {{post.like_set.all.count}}</span>
                {% endif %}
            </div>
            <div style="display: inline; margin-left: 1rem;">
                <img class="me-1" src="{% static 'images/comment_line.svg' %}" alt="코멘트">
                <div id="comment-count" style="display: inline-block;">
                    {{post.reply_set.count}}
                </div>
            </div>
            <div style="display: inline; margin-left: 1rem;">
                {% if user.is_authenticated %}
                    <button class="create-comment" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                        댓글 작성
                    </button>
                {% else %}
                    <p class="mt-4">댓글 작성을 위해서는 로그인이 필요합니다</p>
                {% endif %}
                <div class="collapse" id="collapseComment">
                    <form class="card card-body" action="." method="post">
                        {% csrf_token %}
                        {{comment_form.media}}
                        {{ comment_form.as_p }}
                        <div class="d-flex justify-content-end">
                            <button class="create-comment" type="submit">작성완료</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
    </div>
    <div class="row mt-4 mb-4" id="post-detail-comment">
        {% for comment in comments %}
        <div class="comment comment-{{comment.id}}">
            <div class="comment-content mb-2">
                <span id="comment-head"><img class="lazyload" id='post-detail-thumbnail' data-src="{{ comment.user_id.Image.url }}"> {{ comment.user_id }}</span>
                <div class="mt-2" id="comment-body">
                    {{ comment.content|safe }}
                    <div class="mt-1" > 
                        <span>{{ comment.created_at }}</span>
                        {% if user == post.user_id or user == comment.user_id %}
                            <span class="trash" onclick="onClickDeleteComment({{post.id}}, {{comment.id}})"><img class="me-1" id="trashImg" src="{% static 'images/trash.svg' %}" alt="삭제"></span>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <button class="create-reply" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReply-{{comment.id}}" aria-expanded="false" aria-controls="collapseReply-{{comment.id}}">
                            답글
                        </button>
                        {% else %}
                        <button class="create-reply" type="button" >
                            <a onclick="alert('로그인이 필요한 서비스입니다.')" href="{% url 'user:login' %}">답글</a>
                        </button>
                        {% endif %}
                    </div>
                </div>
                </p>
                <div class="collapse" id="collapseReply-{{comment.id}}" >
                    <form class="reply card card-body mb-4" action="." method="post">
                        {% csrf_token %}
                        {{comment_form.media}}
                        {{ comment_form.as_p }}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <div class="d-flex justify-content-end">
                            <input class="create-reply" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>

            {% for reply in comment.replies.all %}
            <div class="reply-{{reply.parent_reply.id}} reply-{{reply.parent_reply.id}}-{{reply.id}}">
                <div class="reply-content mt-2 mb-2">
                    ㄴ<span id="reply-head"><img class="lazyload" id='post-detail-thumbnail' data-src="{{ reply.user_id.Image.url }}"> {{ reply.user_id }}</span>
                    <div class="mt-2" id="reply-body"  style="padding-left: 1rem;">
                        {{ reply.content|safe }}
                        <div class="mt-1">
                        {{ reply.created_at }}
                        {% if user == post.user_id or user == reply.user_id %}
                            <span class="trash" onclick="onClickDeleteReply({{reply.parent_reply.id}}, {{post.id}}, {{reply.id}})"><img class="me-1" id="trashImg" src="{% static 'images/trash.svg' %}" alt="삭제"></span>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% empty %}
        <p>아직 작성된 댓글이 없습니다</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'javascripts/post_comment.js' %}"></script>
    <script src="{% static 'javascripts/likes.js' %}"></script>
    <script src="{% static 'javascripts/post_follow.js' %}"></script>
{% endblock %}