{% extends "base.html" %}
{% load static %}

{% block content %}
    <p><a href="{% url 'community:post_update' post.pk %}">포스트 수정</a></p>
    <p><a href="{% url 'community:post_delete' post.pk %}">포스트 삭제</a></p>
    <div>
        <p> {{post.user_id}}</p>
    </div>
    <h1>{{ post.title }}</h1>
    <div>
        {{ post.content }}
    </div>
    {% for tag in tags %}
        # {{tag.name}}
    {% endfor %}
    {% for image in images %}
        {% if image.files %}
            <img src = '{{ image.files.url }}'/>
        {% endif %}
    {% endfor %}
    <h3 class = 'hheight'>댓글</h3>
    <div class='comments-{{post.id}}'>
        {% for comment in comments %}
            <div class = 'comment-{{comment.id}} spanlength'>
                {{ comment.content }}

                <button class = 'deletecomment-{{comment.id}}' type = 'submit'  onclick='onClickDeleteComment({{comment.id}},{{post.id}})'>삭제</button>

            </div>
        {% endfor %}
    </div>
    {% for tag in post.tags.all %}
        <span>#{{tag.name}}</span>
    {% endfor %}
    <div class='likes post-id-{{ post.id }}'>
        {% if user.pk in liked_user %}
            <span><button class = 'heart' onclick="onClickLike({{ post.id }})">❤️</button></span>
            <span class='like_num'>좋아요 {{post.like_set.all.count}}</span>
        {% else %}
            <span><button class = 'heart' onclick="onClickLike({{ post.id }})">🤍</button></span>
            <span class='like_num'>좋아요 {{post.like_set.all.count}}</span>
        {% endif %}
    </div>
    <div>
        <input type= 'text' id = 'comment-{{post.id}}' name='content' placeholder = '댓글을 입력하시오' />
        <button class = 'comment-plus' type = 'submit' onclick='onClickAddComment({{post.id}})'>제출</button>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'javascripts/post_comment.js' %}"></script>
    <script src="{% static 'javascripts/likes.js' %}"></script>
{% endblock %}