{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'style/css/community_list.css' %}" rel="stylesheet">
{% endblock %}
{%block search%}
            <form action='' method="GET" style="width:100%" >
                <div class="d-flex align-items-center justify-content-center"> 
                <select class='search-input-1' name="type" id="search-type">
                    <option value="tag">태그</option>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                </select>
                <div class="d-flex  justify-content-between" id="search" style="width:80%;">
                    <input class='search-input' type="text" name='q' value="{{q}}" placeholder="검색어를 입력하세요"/>
                    <button class='searchbtn' type="submit"><img class='me-1' src='{% static 'images/search.svg' %}' alt='하트'></button>
                </div>
                </div>
            </form>        

{% endblock %}

{% block button %}
<div>
    <button class="make-something">
        {% if request.user.is_authenticated %}
        <a href="{% url 'community:post_create' %}">포스트 작성</a>
        {% else %}
        <a onclick="alert('로그인이 필요한 서비스입니다.')" href="{% url 'user:login' %}">포스트 작성</a>
        {% endif %}
    </button>
    <button class="go-to-main">
        {% if request.user.is_authenticated %}
        <a href= '{% url "community:follow_post_list" %}'>친구 게시물 보기</a>
        {% else %}
        <a onclick="alert('로그인이 필요한 서비스입니다.')" href="{% url 'user:login' %}">친구 게시물 보기</a>
        {% endif %}
    </button>
</div>
{% endblock %}

{% block content %}
<div class='container-fluid mt-4 mb-3' style='width:80%;'>
        {% if q %}
        <h1>'{{ q }}' 검색 결과입니다.</h1>
        {% endif %}
         {% if messages%}
            {% for message in messages %}
                {% if message.tags == 'error'%}
                    {{message}}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if post_list %}
            <div class='row d-flex' style='flex-wrap:wrap;' >
            {% for post in post_list %}
                <div class="card border-0 border-bottom col-sm-12 col-md-6 col-lg-4" id="postcard">
                    <div class="row d-flex p-1 justify-content-between" >

                        <span id="postcard-head"><img class="lazyload" id='post-list-thumbnail' data-src="{{ post.user_id.Image.url }}"> {{ post.user_id }}</span>
                        {% if request.user == post.user_id %}
                        {% else %}
                        <div id="postcard-follow" class="postcard-{{post.user_id.id}}">
                            {% if post.user_id.id in following_list %}
                                <a onclick="onClickListDeleteFollow({{post.user_id.id}})" >팔로우 취소</a>
                            {% else %}
                                <a onclick="onClickListFollowing({{post.user_id.id}})">팔로우</a>                        
                            {% endif %}
                        </div>
                        {% endif %}   
                    </div>
                    <a href='{% url "community:post_detail" pk=post.pk %}'>
                    <figure class="snip1384">
                        {% if post.image %}
                            <image data-src='{{ post.image.url }}' class='lazyload img-thumbnail' id = "post-image"/>
                        {% endif %}
                        <figcaption>
                        <span id="postcard-title">{{post.title|truncatechars:10 }}</span>
                        <p>
                            {% for tag in post.tags.all %}
                                <button type="button" class="btn btn-outline-success" id="post-tag-button">{{tag.name}}</button> 
                            {% endfor %}
                        </p>
                        </figcaption>
                    </figure>
                    </a> 
                    <div class="row d-flex justify-content-between">
                        <div class="col pe-4">
                            <div class='likes post-id-{{ post.id }} d-flex ps-2'>
                                <img class='me-1' src='{% static 'images/heart_line.svg' %}' alt='하트'>
                                <span class='like_num me-3'>{{post.like_set.all.count}}</span>
                                <img class='me-1' src='{% static 'images/comment_line.svg' %}' alt='댓글'>
                                <span class='like_num'>{{post.reply_set.count}}</span>
                            </div>
                        </div>
                        <div class="col text-end">
                            <span id="postcard-date">{{post.created_at | date:"Y.m.d"}}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
        <div class='row row-cols-1' id='no-search-input'>
            {% if q %}
            <h3>일치하는 검색 결과가 없습니다.</h3>
            <a href = '{% url "community:post_list" %}' class= 'button-a'>뒤로가기</a>

            {% else %}
            <h3>작성된 게시글이 없습니다.</h3>
            {% endif %}
        </div>
        {% endif %}
       <div class="col-md-offset-6">
            {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link page-link-2" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}"
                        tabindex="-1">&lt;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link page-link-2" href="#" tabindex="-1">&lt;</a>
                </li>
                {% endif %}
                {% for page in page_range %}
                <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
                    <a class="page-link  page-link-circle" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link page-link-2"
                        href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}" style ="margin-left:-7px;">&gt;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link page-link-2" href="#" style="margin-left:-7px;">&gt;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block js %}
    {% comment %} <script src="{% static 'javascripts/post_comment.js' %}"></script> {% endcomment %}
    <script src="{% static 'javascripts/likes.js' %}"></script>
    <script src="{% static 'javascripts/post_list_follow.js' %}"></script>
{% endblock %}