{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center main-container" style="background-image: url({%static 'images/password_reset.png'%});">
    <div class="container p-0">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card px-5" style="background-color: rgb(204, 223, 204);">
                <p class="h8 py-5 px-5">비밀번호 변경</p>
                <div class="row gx-3">
                    <div class="col-12 mb-5">
                        <div class="d-flex flex-column">
                            <p class="text mb-1 text-center">비밀번호 재설정을 위한 메일을 받으실<br> 이메일 주소를 입력해주세요!</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1"></p>
                            <input name="email" class="password-reset-form-control mb-3" placeholder="example@example.com" type="email" id="id_email" required="true" >
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <button class="btn btn-primary mb-3" type="submit" style="background-color: #a0cab5;"><span>이메일 발송</span></button>
                    </div>
                </div>
            </div>
        </form>  
    </div>
</div>

{% endblock %}
