
{% extends "login_base.html" %}
{% load static %}
{% load socialaccount %}
{% block head %}
    <link href="{% static 'style/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class=" mx-auto col-5 d-flex flex-column justify-content-center" style="margin-right: 6.3125rem;">
    <div style="margin-bottom: 3.125rem;">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div>
		<p style="font-size: 1.25rem; font-weight: bold;"> 비밀번호가 재설정 되었습니다.
			<br>
			지금 바로 <a href="{% url 'user:login' %}" style="color: seagreen;">로그인</a>해보세요.</p>
    </div>
</div>
{%endblock%}