{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
{% endblock %}
<img src="{%static 'images/password_reset.png'%}" alt="" style="max-width: 70%; max-height: 100%; z-index: 1; position: absolute; overflow: hidden; height: 90vh; width: 100vw;">
{% block content %}
<div style="width: 100%; height: 90%;">
    <div class="d-flex justify-content-center align-items-center main-container" style="position: relative; background-color: #D8D8D8; background-size: cover; background-image: url({%static 'images/password_reset.png'%});">
        <div class="container p-0">

            <form action="" method="POST">
                {% csrf_token %}
                <div class="card px-5" style="background-color: rgb(204, 223, 204);">
                    <p class="h8 py-5 px-5">비밀번호 변경</p>
                    <div class="row gx-3">
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">비밀번호</p>
                                <input type="password" name="new_password1" autocomplete="new-password" class="password-form-control mb-3" required="" id="id_new_password1"> 
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1"></p>
                                {{form.new_password2.errors}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">비밀번호 확인</p>
                                <input type="password" name="new_password2" autocomplete="new-password" class="password-form-control mb-3" required="" id="id_new_password2">
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary mb-3" type="submit" style="background-color: #a0cab5;"><span>비밀번호 변경</span></button>
                        </div>
                    </div>
                </div>
            </form>  
        </div>
    </div>
</div>
{% endblock %}

