{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main-container d-flex justify-content-center align-items-center" style="background-color: #D8D8D8;">

  <img src="{%static 'images/password_reset.png'%}" alt="" style="max-width: 70%; max-height: 100%; z-index: 1; position: absolute; overflow: hidden; height: 90vh; width: 100vw;">
  <div style="background-color: rgba(0, 0, 0,0.5); z-index: 5; max-width: 70%; max-height: 100%; height: 90vh; width: 100vw; position: absolute;"></div>
  <form id="reset-form-container" method="POST" class="form-signin">{% csrf_token %}
    <div style="display: flex; flex-direction: column;
    align-items: center;">
      <div style="font-size: 3vh;">비밀번호 재설정</div>
        <div style="height: 20vh;" class="d-flex justify-content-center align-items-center">
          <div style="font-size: 2vh; margin-left: 10px; margin-right: 10px;">
            비밀번호 재설정을 위한 메일을 받으실 이메일 주소를 입력해주세요!
          </div>
        </div>
      <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <div class="col-lg-2 col-sm-12">
          <label for="" style="font-size: 0.9rem;">이메일</label>
        </div>
        <div class="col-lg-6 col-sm-12" >
          <input style="width: 100%;" name="email" class="email-form-control" placeholder="example@example.com" type="email" id="id_email" required="true" >
        </div>
        <div class="col-lg-4 col-sm-12">
          <button style="font-size: 0.9rem;" id="email_submit_btn">이메일 발송</button>  
        </div>
      </div>
    </div>
  </form>
  
</div>


{% endblock %}