{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/css/password_reset.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center main-container" style="background-image: url({%static 'images/password_reset5.jpg'%});">
	<div class="container p-0">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="card px-3">
				<p class="h8 py-5"><img id="login-icon2" src="{% static 'images/pw-icon2.png' %}">&nbsp 이메일 발송 완료 &nbsp<img id="login-icon1" src="{% static 'images/pw-icon2.png' %}"></p>
				<div class="row gx-3">
					<div class="col-12 text-center">
						<div class="d-flex flex-column">
							<p class="text mb-1"> 입력한 이메일에 계정이 있는 경우 비밀번호 설정에 <br>대한 안내를 이메일로 발송했습니다.
								<br><br>
								1~2분 시간이 소요될 수 있으니 잠시만 기다려주세요.</p> <br>
						</div>
					</div>
					<div class="col-12 text-center">
						<div class="d-flex flex-column">
							<p class="text mb-1"> 			
								이메일을 받지 못한 경우 가입 시 입력한 이메일과 <br>동일한지 확인해주세요.
								<br><br>
								안내 이메일이 스팸 메일로 분류될 수 있으니<br> 스팸 폴더를 확인해주세요.
							</p><br>

						</div>
					</div>
					<div class="col-12 mb-5 mt-3 text-center">
						<a id="return-home" style="font-size: 24px;" href="{% url 'user:start_page' %}">Return to home page</a>
					</div>
				</div>
			</div>
		</form>  
	</div>
</div>

{% endblock %}