
{% extends "login_base.html" %}
{% load static %}
{% load socialaccount %}
{% block head %}
    <link href="{% static 'style/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-5 d-flex flex-column justify-content-center" style="margin-right: 6.3125rem; width: 21.5rem;">
    <div style="margin-bottom: 3.125rem;">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <div class="d-flex flex-column">
                    <p class="text mb-1" style="font-weight: bold;">비밀번호 재설정을 위한 메일을 받으실<br>이메일 주소를 입력해주세요.</p>
                </div>
            </div>
            <div>
                <div class="d-flex flex-column">
                    <p class="text mb-1"></p>
                    <input name="email" style="width: 20rem; height: 2.5rem; margin-bottom: 1.875rem;" class="" placeholder="example@example.com" type="email" id="id_email" required="true" >
                </div>
            </div>
            <div>
                <button style="width: 20rem; height: 2.5rem; color: white; background-color: #354847;" class="btn" type="submit"><span>이메일 발송</span></button>
            </div>
        </form>
    </div>
</div>
{%endblock%}