{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/css/password_reset.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center main-container" style="background-image: url({%static 'images/password_reset5.jpg'%}); ">
	<div class="container p-0 mb-5">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="card px-3 mb-5" style="min-height:412px;">
				<p class="h8 "><img id="login-icon2" src="{% static 'images/pw-icon2.png' %}">&nbsp 비밀번호 변경 완료 &nbsp<img id="login-icon1" src="{% static 'images/pw-icon2.png' %}"></p>
				<div class="row gx-3">
					<div class="col-12 text-center mt-4">
						<div class="d-flex flex-column">
							<p class="text mb-1" style="font-size: 20px;"> 비밀번호가 재설정 되었습니다.
								<br>
								지금 바로 <a href="{% url 'user:login' %}" style="color: seagreen;">로그인</a>해보세요.</p>
						</div>
					</div>
				</div>
			</div>
		</form>  
	</div>
</div>
{% endblock %}
