{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center main-container" style="background-image: url({%static 'images/password_reset.png'%});">
	<div class="container p-0">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="card px-5 mb-5" style="background-color: rgb(204, 223, 204); max-width: 460px;">
				<p class="h8 py-5 px-5" style="font-size:34px;">비밀번호 변경 완료</p>
				<div class="row gx-3">
					<div class="col-12 text-center mt-5">
						<div class="d-flex flex-column">
							<p class="text mb-1" style="font-size: 16px;"> 비밀번호가 재설정 되었습니다.
								<br>
								지금 바로 <a href="{% url 'user:login' %}" style="color: seagreen;">로그인</a>해보세요.</p>
						</div>
					</div>
				</div>
			</div>
		</form>  
	</div>
</div>
{% endblock %}
