{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/css/password_reset.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center main-container" style="background-image: url({%static 'images/password_reset5.jpg'%});">
    <div class="container p-0">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card px-3">
				<p class="h8 py-5"><img id="login-icon2" src="{% static 'images/pw-icon2.png' %}">&nbsp 비밀번호 변경 &nbsp<img id="login-icon1" src="{% static 'images/pw-icon2.png' %}"></p>
                <div class="row gx-3">
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">비밀번호</p>
                            <input type="password" name="new_password1" autocomplete="new-password" class="password-reset-form-control mb-3" required="" id="id_new_password1"> 
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1"></p>
                            {{form.new_password2.errors}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">비밀번호 확인</p>
                            <input type="password" name="new_password2" autocomplete="new-password" class="password-reset-form-control mb-3" required="" id="id_new_password2">
                        </div>
                    </div>
                    <div class="col-12 text-center mt-3">
                        <button class="btn btn-primary mb-3" type="submit" ><span>비밀번호 변경</span></button>
                    </div>
                </div>
            </div>
        </form>  
    </div>
</div>
{% endblock %}

