{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- 
<div class="main-container d-flex justify-content-center align-items-center" style="background-color: #D8D8D8;">
	
	<img src="{%static 'images/password_reset.png'%}" alt="" style="max-width: 70%; max-height: 100%; z-index: 1; position: absolute; overflow: hidden; height: 90vh; width: 100vw;">
	<div style="background-color: rgba(0, 0, 0,0.5); z-index: 5; max-width: 70%; max-height: 100%; height: 90vh; width: 100vw; position: absolute;"></div>
	<div class="d-flex flex-column justify-content-center align-items-center" style="z-index: 10; background-color: #CCDFCC; width: 40vw; border-radius: 10px;">
		<div style="font-size: 3vw; font-weight: 800;">
			이메일 발송 완료
		</div>  
		<div style="font-size: 1vw;" class="m-auto mt-3 mb-3 p-2">
		    입력한 이메일에 계정이 있는 경우 비밀번호 설정에 대한 안내를 이메일로 발송했습니다.
			<br>
			1~2분 시간이 소요될 수 있으니 잠시만 기다려주세요.
		</div>
		<div style="font-size: 1vw;" class="m-auto mt-3 mb-3 p-2">
			이메일을 받지 못한 경우 가입할때 입력한 이메일과 동일한지 확인해주세요.
			<br>
			안내 이메일이 스팸 메일로 분류될 수 있으니 스팸 폴더를 확인해주세요.
		</div>
		<div class="m-auto mt-3 mb-3 p-2"><a style="font-size: 2vw;" href="{% url 'user:start_page' %}">Return to home page</a></div>
	</div>
</div> -->
<div style="width: 100%; height: 90%;">
	<div class="d-flex justify-content-center align-items-center main-container" style="position: relative; background-color: #D8D8D8; background-size: cover; background-image: url({%static 'images/password_reset.png'%});">
		<div class="container p-0">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="card px-5" style="background-color: rgb(204, 223, 204); max-width: 460px;">
					<p class="h8 py-5 px-5">이메일 발송 완료</p>
					<div class="row gx-3">
						<div class="col-12 text-center">
							<div class="d-flex flex-column">
								<p class="text mb-1"> 입력한 이메일에 계정이 있는 경우 비밀번호 설정에 대한 안내를 이메일로 발송했습니다.
									<br>
									1~2분 시간이 소요될 수 있으니 잠시만 기다려주세요.</p>
							</div>
						</div>
						<div class="col-12 text-center">
							<div class="d-flex flex-column">
								<p class="text mb-1"> 			이메일을 받지 못한 경우 가입할때 입력한 이메일과 동일한지 확인해주세요.
									<br>
									안내 이메일이 스팸 메일로 분류될 수 있으니 스팸 폴더를 확인해주세요.</p>
							</div>
						</div>
						<div class="col-12 mb-5 mt-5 text-center">
							<a style="font-size: 24px;" href="{% url 'user:start_page' %}">Return to home page</a>
						</div>
					</div>
				</div>
			</form>  
		</div>
	</div>
</div>
{% endblock %}