header {
  font-family: "Gowun Batang", serif;
}

body {
  font-family: "Gowun Batang", serif;
  overflow: scroll;
}

.main-body {
  width: 80%;
  height: 1500px;
  /* border: solid 3px black; */
  padding-left: 0;
  padding-right: 0;
}

footer {
  font-family: "Gowun Batang", serif;
  font-size: small;
  background-color: #ccdfcc;
  height: 120px;
  position: relative;
  width: 100%;
  bottom: 0;
}

.navbar {
  background-color: #ccdfcc;
  z-index: 0;
  position: sticky;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
  margin: 0 30px 0 20px;
  z-index: 2;
}

.nav-item {
  font-weight: 600;
  margin: 0 10px;
}

.contact {
  margin-bottom: 5px;
  font-size: medium;
  font-weight: bold;
}

.logo-image {
  width: 120px;
  height: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 20px;
}

.profile-image img {
  overflow: hidden;
  width: 35px;
  height: 30px;
  padding: 2px;
  border-radius: 100%;
}

.nav-dropdown {
  margin-left: 0;
}
