#search-header {
  max-height: 300px;
  border: solid 3px black;
  background: url("/static/images/1.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  color: white;
  text-align: center;
}

#search-header-p {
  font-size: 3rem;
}
#search-header-form {
  height: 30%;
  margin-bottom: 5vh;
}
.search-input {
  width: 80%;
  border-radius: 10px;
}

.search-input-1 {
  border-radius: 10px;
  background-color: #ccdfcc;
}

#thumbnail-p {
  margin-bottom: 0;
}

#list-paginator {
  display: flex;
  justify-content: center;
  margin-top: 5;
}

.post-button {
  width: 3vw;
  height: 3vh;
}
