{% extends "login_base.html" %}
{% load static %}
{% load socialaccount %}
{% block head %}
    <link href="{% static 'style/css/login.css' %}" rel="stylesheet">
    <style>
	    *{
	        font-size: 100%;
	    }
        @media screen and (max-width : 900px){
        html {font-size:0.8rem}  
    	}

    	@media screen and (max-width : 560px){
    	    html {font-size:0.6rem}  
    	}
    	@media screen and (max-width : 900px){
    		#image-container{
    		  display: none;
    		}
    		#image-container img {
    		  display: none;
    		}
    		#left-container{
    		  margin-right: 0px!important;
    		} 
		}
	</style>
{% endblock %}

{% block content %}
<div id="left-container" class="col-5 d-flex flex-column justify-content-center">
    <div style="margin-bottom: 3.125rem;">
        <a href="{% url 'user:start_page' %}">
            <img src="{% static 'images/logo.png' %}" alt="" class="logo-size">
        </a>
    </div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <div class="d-flex flex-column">
                    <p class="text mb-1" style="font-weight: bold;">가입할 때 입력하신 이메일을 입력해주세요!</p>
                </div>
            </div>
            <div>
                <div class="d-flex flex-column">
                    <p class="text mb-1"></p>
                    <input name="email" class="mb-3 regular-size" placeholder="" type="email" id="id_email" required="true" >
                </div>
            </div>
            <div>
                <button class="btn regular-size button-black" type="submit"><span>아이디 찾기</span></button>
            </div>
        </form>
    </div>
</div>
{%endblock%}