{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main-container d-flex justify-content-center align-items-center" style="background-color: #D8D8D8;">
	<img src="{%static 'images/find_id.jpg'%}" alt="" style="max-width: 70%; max-height: 100%; z-index: 1; position: absolute; overflow: hidden; height: 90vh; width: 100vw;">
	<div style="background-color: rgba(0, 0, 0,0.5); z-index: 5; max-width: 70%; max-height: 100%; height: 90vh; width: 100vw; position: absolute;"></div>
	<div class="d-flex flex-column justify-content-center align-items-center" style="z-index: 10; background-color: #CCDFCC; width: 40vw; height: 50vh; border-radius: 10px;">
        <p>
            <h1>아이디 찾기</h1>
        </p>
        <p class="mt-5" style="padding-left: 10px; padding-right: 10px;">
            {{email}}로 등록된 아이디가 존재하지 않습니다!
        </p>  
	</div>
</div>
{% endblock %}