{% extends "base.html" %}
{% load static %}

{%block head%}
<link href="{% static 'style/css/follow.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> <!--CDN 링크 -->
<link href="{% static 'style/css/profile.css' %}" rel="stylesheet">
{%endblock%}

{% block content %}
<div class="container pe-0 ps-0">
    <div class="row justify-content-center">
        <div class="col col-10 mt-3 mb-5">
            <div class="container profile">
                <div class="container profile_in">
                    <div class="row justify-content-center row-cols-1 row-cols-md-2">
                        <div class="col text-center" style="margin-right:-5%; padding:0;">
                            <img class="lazyload" id="user-img" data-src={{user.Image.url}} />
                        </div>
                        <div class="col">
                            <div id="user-info">
                                {% if user.point < 100 %} <span id="user-level"><a tabindex="0" type="button"
                                        data-bs-toggle="popover" data-bs-trigger="focus"
                                        title="입문 정원사 ({{user.point}}점)" data-bs-content="0~99점(게시물 0개 ~ 3개)">입문
                                        정원사<br></span>
                                        {% elif user.point < 300 %} <span id="user-level"><a tabindex="0" type="button"
                                                data-bs-toggle="popover" data-bs-trigger="focus"
                                                title="초보 정원사 ({{user.point}}점)"
                                                data-bs-content="100~299점(게시물 4개 ~ 9개)">초보 정원사</span>
                                                {% elif user.point < 600 %} <span id="user-level"><a tabindex="0"
                                                        type="button" data-bs-toggle="popover" data-bs-trigger="focus"
                                                        title="아마추어 정원사 ({{user.point}}점)"
                                                        data-bs-content="300~599점(게시물 10개 ~ 19개)">아마추어 정원사</span>
                                                        {% elif user.point < 1000 %} <span id="user-level"><a
                                                                tabindex="0" type="button" data-bs-toggle="popover"
                                                                data-bs-trigger="focus" title="프로 정원사 ({{user.point}}점)"
                                                                data-bs-content="600~999점(게시물 20개 ~ 33개)">프로 정원사</a>
                                                            입니다.<br></span>
                                                            {% else %}
                                                            <span id="user-level"><a tabindex="0" type="button"
                                                                    data-bs-toggle="popover" data-bs-trigger="focus"
                                                                    title="국가대표 정원사 ({{user.point}}점)"
                                                                    data-bs-content="1000점 이상(게시물 34개 이상)">국가대표
                                                                    정원사</a>입니다.<br></span>
                                                            {% endif %}
                                                            <div class="user-id-config">
                                                                <span id="user-id"> {{user.userid}}</span>
                                                                <a href="{% url 'user:profile_update' %}">
                                                                    <img class=""
                                                                        src="{% static 'images/ios-settings 1.svg'%}" />
                                                                </a>
                                                            </div>
                                                            <div id="profile-content" title="회원정보">
                                                                <span style='overflow:auto;'>
                                                                    {%if user.profile%}
                                                                    {{user.profile|linebreaksbr}}
                                                                    {% else %}
                                                                    프로필 정보가 없습니다.
                                                                    {%endif%}
                                                                    <br>
                                                                </span>
                                                            </div><br>
                                                            
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 p-0" style="border-right: solid 1px #EAEAEA;">
                            <div class="text-center" style="height:6rem; font-size:1.6rem; border-bottom: solid 1px #EAEAEA; border-top: solid 1px #EAEAEA; line-height: 6rem;">
                                팔로워
                            </div>
                            <div id='follower-box'>
                                {% if followers %}
                                    {% for follower in followers %}
                                        <div id="follower-div-{{follower.following_user_id}}" class="follower-div row row-cols-2 row-cols-lg-2 p-3 justify-content-between me-0">
                                            <div class="col">
                                                <img style="border-radius: 50%; width: 5rem; height: 5rem;" src="{{follower.following_user.Image.url}}" alt="">
                                                <p style="font-size: 1.8rem; display: inline-block;">{{follower.following_user.name}}</p>
                                            </div>
                                            {% if request.user == user %}
                                                {% if request.user != follower.following_user%}
                                                    {% if follower.following_user_id in cur_users_followings_list %}
                                                        <div class="col follow-wraper-{{follower.following_user_id}} d-flex justify-content-end align-items-center" style="display:inline; width: 10rem; ">
                                                            <div class='following-{{follower.following_user_id}}' style="display:inline;">
                                                                <button class="follow-btn" onclick="onClickFollowerDelete({{follower.following_user_id}})">삭제</button>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="col follow-wraper-{{follower.following_user_id}} d-flex justify-content-end align-items-center" style="display:inline; width: 10rem; ">
                                                            <div class="follow-{{follower.following_user_id}}" style="display:inline;">
                                                                <button onclick="onClickFollow({{follower.following_user_id}})">팔로우</button>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {%endif%}
                                                {% else %}
                                                    {% if request.user != follower.following_user%}
                                                        {% if follower.following_user_id in cur_users_followings_list %}
                                                            <div class="col follow-wraper-{{follower.following_user_id}} d-flex justify-content-end align-items-center" style="display:inline; width: 10rem; ">
                                                                <div class='following-{{follower.following_user_id}}' style="display:inline;">
                                                                    <button class="follow-btn" onclick="onClickOtherDeleteFollow({{follower.following_user_id}})">팔로우 취소</button>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="col follow-wraper-{{follower.following_user_id}} d-flex justify-content-end align-items-center" style="display:inline; width: 10rem; ">
                                                                <div class="follow-{{follower.following_user_id}}" style="display:inline;">
                                                                    <button class="follow-btn" onclick="onClickOtherFollowing({{follower.following_user_id}})">팔로우</button>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {%endif%}
                                                {% endif %}
                                        </div>
                                    {% endfor %}
                                
                                {% else %}
                                    <div style="text-align: center;">
                                        <h4 style="margin-top: 1rem;">함께하는 플랜테리어가 없습니다.</h4>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- 팔로우리스트 끝 -->
                        </div>
                        <div class="col-6 p-0">
                            <div class="text-center" style="height:6rem; font-size:1.6rem; border-top:solid 1px #EAEAEA; border-bottom: solid 1px #EAEAEA; line-height: 6rem;">
                                팔로잉
                            </div>
                            <div id="following-box">
                                {% if followings %}
                                    {% for following in followings %}
                                    <div id="following-div-{{following.user_id}}" class="following-div row row-cols-2 row-cols-lg-2 p-3 justify-content-between me-0">
                                        <div class="col">
                                            <img style="border-radius: 50%; width: 5rem; height: 5rem;" src="{{following.user.Image.url}}" alt="">
                                            <p style="font-size: 1.8rem; display: inline-block;">{{following.user.name}}</p>
                                        </div>
                                        {% if request.user == user %}
                                            {% if request.user != following.user%}
                                                {% if following.user_id in cur_users_followings_list %}
                                                    <div class="col follow-wraper-{{following.user_id}} d-flex justify-content-end align-items-center" style="display:inline; width: 10rem; ">
                                                        <div class='following-{{following.user_id}}' style="display:inline;">
                                                            <button class="follow-btn" onclick="onClickFollowingDelete({{following.user_id}})" >삭제</button>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="col follow-wraper-{{following.user_id}} d-flex justify-content-end align-items-center" style="display:inline; width: 10rem; ">
                                                        <div class="follow-{{following.user_id}}" style="display:inline;">
                                                            <button class="follow-btn"  onclick="onClickFollow({{following.user_id}})">팔로우</button>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {%endif%}
                                        {% else %}
                                            {% if request.user != following.user%}
                                                {% if following.user_id in cur_users_followings_list %}
                                                    <div class="col follow-wraper-{{following.user_id}} d-flex justify-content-end align-items-center" style="display:inline; width: 10rem; ">
                                                        <div class='following-{{following.user_id}}' style="display:inline;">
                                                            <button class="follow-btn" onclick="onClickOtherDeleteFollow({{following.user_id}})">팔로우 취소</button>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="col follow-wraper-{{following.user_id}} d-flex justify-content-end align-items-center" style="display:inline; width: 10rem; ">
                                                        <div class="follow-{{following.user_id}}" style="display:inline;">
                                                            <button class="follow-btn"  onclick="onClickOtherFollowing({{following.user_id}})">팔로우</button>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {%endif%}                                                
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                {% else %}
                                <div style="text-align: center;">
                                    <h4 style="margin-top: 1rem;">함께하는 플랜테리어가 없습니다.</h4>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    $(function () {
        $('[data-bs-toggle="popover"]').popover()
    })
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
    })
</script>
{% endblock %}

{% block js %}
    <script src="{% static 'javascripts/follow_list.js' %}"></script>
{% endblock %}