{% extends "base.html" %}
{% load static %}

{%block head%}
<link href="{% static 'style/css/follow.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> <!--CDN 링크 -->
{%endblock%}

{% block content %}
        <div class= "main-follow">
            <div class='row'>
                <div id='follow-header' class='d-flex flex-column justify-content-center'>
                    <div id='follow-header-p'>
                            <span><h2>🌼여러분과 함께하는 가드너입니다🌼</h2></span>
                    </div>
                </div>
            </div>
        </div><!--header 닫힘-->

        <div class="container main-body" id="follow-body">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col p-2">
                    <div class="container p-0 follow-box" >
                        <div class="text-center" id="follow-box-title">
                            <span id="follower-title">팔로워</span>
                        </div>
                        <div>
                        {% if followers %}
                            {% for follower in followers %}
                                <div class="row row-cols-2 row-cols-lg-2 p-3" id="follow-user-box1" >
                                <div class="col p-0 mt-2" id="follow-user-img">
                                    <img src={{follower.following_user.Image.url}} >
                                </div>
                                <div class="col" style="width:80%">
                                    <h5 id="follow-name">🌱ID : {{follower.following_user.userid}}</h5>
                                    {% if request.user != follower.following_user%}
                                            {% if follower.following_user_id in cur_users_followings_list %}
                                            <div class="follow-wraper-{{follower.following_user_id}}" style="display:inline; ">
                                                <div class='following-{{follower.following_user_id}}' style="display:inline;">
                                                    <button onclick="onClickFollowing({{follower.following_user_id}})" style="background: white; border: 1px solid #ACA790; padding:5px; border-radius:10px; font-size:16px;">팔로잉</button>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="follow-wraper-{{follower.following_user_id}}" style="display:inline; ">
                                                <div class="follow-{{follower.following_user_id}}" style="display:inline;">
                                                    <button onclick="onClickFollow({{follower.following_user_id}})" style="background: white; border: 1px solid #ACA790; padding:5px; border-radius:10px; font-size:16px;">팔로잉</button>
                                                </div>
                                            </div>
                                            {% endif %}
                                    {%endif%}
                                    <hr class="m-1">
                                    <span> &nbsp Name : {{follower.following_user.name}}</span><br>
                                    <span> &nbsp Point : {{follower.following_user.point}}</span>
                                    
                                </div>
                            </div>
                            {% endfor %}
                        {% else %} <!--팔로워가 없는 경우-->
                            <div class="text-center" style="margin-top: 50px; height: 300px;">
                                <h4> 아직 함께하는 가드너가 없네요😥</h4>
                            </div>
                        {% endif%}
                        </div>
                    </div>
                </div>
                <div class="col p-2">
                    <div class="container p-0 follow-box" >
                        <div class="text-center" id="follow-box-title">
                            <span id="follower-title">팔로잉</span>
                        </div>
                        <div>
                        {% if followings %}
                            {% for following in followings %}
                                    <div class="row row-cols-2 row-cols-lg-2 p-3" id="follow-user-box1" >
                                <div class="col p-0 mt-2" id="follow-user-img">
                                    <img src={{following.user.Image.url}} >
                                </div>
                                <div class="col" style="width:80%">
                                    <h5 id="follow-name">🌱ID : {{following.user.userid}}</h5>
                                    {% if request.user != following.user%}
                                        {% if following.user_id in cur_users_followings_list %}
                                            <div class="follow-wraper-{{following.user_id}}" style="display:inline; ">
                                                <div class='following-{{following.user_id}}' style="display:inline;">
                                                    <button onclick="onClickFollowing({{following.user_id}})"  style="background: white; border: 1px solid #ACA790; padding:5px; border-radius:10px; font-size:16px;">팔로잉</button>
                                                </div>
                                            </div>
                                        {% else %}

                                            <div class="follow-wraper-{{following.user_id}}" style="display:inline; ">
                                                <div class="follow-{{following.user_id}}" style="display:inline;">
                                                    <button  onclick="onClickFollow({{following.user_id}})" style="background: white; border: 1px solid #ACA790; padding:5px; border-radius:10px; font-size:16px;">팔로우</button>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {%endif%}
                                    <hr class="m-1">
                                    <span> &nbsp Name : {{following.user.name}}</span><br>
                                    <span> &nbsp Point : {{following.user.point}}</span>
                                    
                                </div>
                            </div>
                            {% endfor %}
                        {% else %} <!--팔로워가 없는 경우-->
                            <div class="text-center" style="margin-top: 50px; height: 300px;">
                                <h4> 아직 함께하는 가드너가 없네요😥</h4>
                            </div>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'javascripts/follow_list.js' %}"></script>
{% endblock %}