{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'style/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center main-container" style="background-image: url({% static 'images/login_background.jpg' %});">
    <div class="container p-0">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card text-center px-5">
                <p class="h8 px-5"><img id="login-icon1" src="{% static 'images/black_leaf.png' %}">로그인<img id="login-icon2" src="{% static 'images/black_leaf.png' %}"></p>
                <p class="h9 mt-1 px-5">- Always With Gardener -</p>
                <div class="row gx-3 mt-5">
                    <div class="col-12">
                        <p class="text mb-1">
                            {{form.password.errors}}
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1"></p> <input type="text" name="username" autofocus="" class="form-control mb-3" placeholder="아이디" autocapitalize="none" autocomplete="username" maxlength="30" required="" id="id_username">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1"></p>
                            <input type="password" name="password" autocomplete="current-password" class="form-control mb-3" placeholder="비밀번호" required="" id="id_password">
                        </div>
                    </div>
                    <div class="col-12 row mb-3" style="margin-left: 3px;">
                        <div class="col-4 px-0">
                            <a href="{% url 'user:find_id' %}"><p class="text text-center">아이디 찾기</p></a>
                        </div>
                        <div class="col-4 px-0">
                            <a href="/password_reset">
                                <p class="text text-center">비밀번호 찾기</p>
                            </a>
                        </div>
                        <div class="col-4 px-0">
                            <a href="{% url 'user:signup' %}">
                                <p class="text text-center">회원가입</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary mb-3" type="submit"><span>로그인</span></button>
                    </div>
                    <div class="col-12">
                        <a href="/accounts/google/login/" class="row">
                            <img src="{% static 'images/google_logo.png' %}" alt="" class="col-12" >
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}