{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style/css/my_pick.css' %}" />
{% endblock %}

{% block content %}
    <div class="row row-cols-3 container-fluid" style="padding-left: 0;">
        <div class="col" style="max-width: 20vw;">
            <img class="lazyload page-image" data-src="{% static 'images/mypick_background.jpg' %}" />
        </div>
        <div class="col page-phrase"  style='writing-mode: vertical-rl; width: fit-content;'>
            <h4 class='mt-3' style='margin-left:1vw; margin-right:1vw;'>
                게시물 입니다
            </h4>
            <h4 class='mt-3' style='margin-left:0; margin-right:0;'>
                회원님이 좋아요를 누른
            </h4>
        </div>
        <div class="col" style="width: 50vw;">
            {% if liked %}
                {% for like in liked %}
                    <div class="content-box">
                                <div class="d-flex">
                                    <a href="{% url 'community:post_detail' like.post_id.pk %}"><img class="lazyload content-img" data-src = '{{ like.post_id.image.url }}' /></a>
                                    <div class="d-flex flex-column" style="width: -webkit-fill-available;">
                                        <a href="{% url 'community:post_detail' like.post_id.pk %}"><h4><img class="lazyload title-img" data-src="{% static 'images/planting.png' %}"/>{{like.post_id.title}}</h4></a>
                                        <hr style="width: 100%;"/>
                                        <span class="d-flex">
                                            <img class="lazyload profile-img" data-src="{{ like.post_id.user_id.Image.url }}" />
                                            <p>{{ like.post_id.user_id }}</p>
                                        </span>
                                    </div>
                                </div>
                    </div>
                {% endfor %}                
            {% else %}
                <h4 class="no-posts">아직 좋아요를 누른 개시물이 없습니다<img src="{% static 'images/sad.svg' %}" style="width: 3vh; height: 3vh; margin: 5px;"></h4>
            {% endif %}
            <div id='list-paginator' style = 'margin-bottom:1rem;'>
                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                            tabindex="-1">이전</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">이전</a>
                    </li>
                    {% endif %}
        
                    {% for page in page_range %}
                    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}
        
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">다음</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}