{% extends "base.html" %}
{% load static %}

{%block head%}
<link href="{% static 'style/css/profile.css' %}" rel="stylesheet">

<link href="{% static 'style/css/main_plant.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> <!--CDN 링크 -->
{%endblock%}

{% block content %}
<div class="container main-body">
    <div class="row">
        <div class="col col-10">
            <div class="container profile">
                <div class="container profile_in">
                        <div class="row">
                            <div style="position: relative;">
                                <div style=" position: absolute; left: 80px;">
                                    <img id="profile-line" src="{% static 'images/profile_img_line.png'%}" />
                                </div>
                                <div style="position:  absolute; left: 138px; top: 33px;">
                                    <img id="user-img" src={{user.Image.url}} />
                                </div>
                            </div>
                            <div id="user-info">
                                <span id="user-id">{{user.userid}}</span><br>
                                <img id="plant-icon" src="{% static 'images/planting.png'%}" />
                                <span id="user-level">{{user.name}} 님은 현재 새싹 등급입니다.<br></span>
                                <div id="profile-content">
                                    <span>
                                    {%if user.profile%}
                                    {{user.profile}}
                                    {% else %}
                                        프로필 정보가 없습니다. 
                                    {%endif%}
                                    </span><br>
                                </div><br>
                                <div id="user-follow" class="mt-2">
                                    <!-- <img src="{% static 'images/follower.png'%}" /> -->
                                    <a href="{% url 'user:follow' user.pk %}">팔로워 <span class="follower-count">{{follower}}</span></a>
                                    <!-- <img src="{% static 'images/following.png'%}" /> -->
                                    <a href="{% url 'user:follow' user.pk %}">| 팔로잉 <span class="following-count">{{following}}</span></a>
                                </div>
                            </div>
                        </div>
                        <hr style="margin-top: 30px; color: #5C5427; height:2px;">
                        <div style="text-align:center; margin-top:-20px;">
                            <br />
                            <span>My Plant</span>
                            <br />
                        </div>
                        <hr style="margin-top: -5px; color: #5C5427;height:2px;">
                        <div class ="row row-cols-1 row-cols-sm-2 row-cols-lg-3" style="margin-left:20px;">
                            {% if scrab_plants%}
                            {%for scrab in scrab_plants%}
                            <div class="col col-lg-4">
                                <div id="card-post" class="card text-center m-3" >
                                    <img src={{scrab.plant.photo_url}} class="card-img-top" alt="..." style="height:150px; max-height: 160px;">
                                    <div class="card-body ">
                                        <hr style="margin:0px 0px 5px 0px;">
                                        <a data-bs-toggle="modal" data-bs-target="#plantDetailModal-{{plant.pk}}">
                                        {{scrab.plant.name}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="plantDetailModal-{{plant.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content" id="plantDetailModal-content">
                                    <div class="modal-header justify-content-center">
                                            <h5 class="modal-title" id="plantDetailLabel">{{plant.name}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left:40px;"></button>
                                            {%if plant in scrap_plant_list %}
                                                <button type='button'> 스크랩 취소</button>
                                            {% else %}
                                                <button type='button'>스크랩</button>
                                            {% endif %}
                                        </div>
                                        <div class="modal-body text-center">
                                            <img src={{plant.photo_url}}>
                                            <hr class="m-1"><hr class="m-1">
                                            <table class="table table-striped text-start mt-2">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2"> 
                                                        <img src={%static 'images/plant.png'%}> 
                                                        <span>생육형태<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        - {{plant.name}}의 생육형태는 {{plant.growth_form}} 입니다
                                                        </td> 
                                                    
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2"> 
                                                        <img src={%static 'images/difficulty.png'%}> 
                                                        <span>관리 난이도<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        - {{plant.name}}의 관리 난이도는 {{plant.care_difficulty}} 입니다. 
                                                        </td> 
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2"> 
                                                            <img src={%static 'images/watering.png'%}> 
                                                            <span>관리 요구 수준<span>
                                                            </td>
                                                        </tr>
                                                    <tr>
                                                        <td>
                                                        {%if plant.management_level == "경험자" %}
                                                        - 식물을 키워본 경험이 좀 있다면 어렵지 않아요! 도전해보세요!
                                                        {%elif plant.management_level == "초보자" %}
                                                        - {{plant.management_level}}도 쉽게 키울 수 있어요! 어렵지 않아요!
                                                        {% else %}
                                                        -{{plant.management_level}} 정도의 수준이 요구되어요! 
                                                        {%endif%}
                                                        </td> 
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2"> 
                                                        <img src={%static 'images/temperature.png'%}> 
                                                        <span>생육 온도<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        - {{plant.name}}는 {{plant.growth_temp}} 정도의 온도에서 잘 자라요!
                                                        </td> 
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2"> 
                                                        <img src={%static 'images/humidity.png'%}> 
                                                        <span>생육 습도<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        - {{plant.name}}는 {{plant.humidity}}의 습도 환경이 좋아요!
                                                        </td> 
                                                    </tr>
                                                    <tr>
                                                    <td class="p-2"> 
                                                        <img src={%static 'images/spring.png'%}> 
                                                        <span>봄철 물주기<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        - 봄에는 [ {{plant.water_period_autumn}} ] 정도의 느낌이 들 만큼 물을 주세요!
                                                        </td> 
                                                    </tr>
                                                    <td class="p-2"> 
                                                        <img src={%static 'images/summer.png'%}> 
                                                        <span>여름철 물주기<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        - 여름에는 [ {{plant.water_period_summer}} ] 정도의 느낌이 들 만큼 물을 주세요!
                                                        </td> 
                                                    </tr>
                                                    <td class="p-2"> 
                                                        <img src={%static 'images/fall.png'%}> 
                                                        <span>가을철 물주기<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        - 가을에는 [ {{plant.water_period_autumn}} ] 정도의 느낌이 들 만큼 물을 주세요!
                                                        </td> 
                                                    </tr>
                                                    <td class="p-2"> 
                                                        <img src={%static 'images/winter.png'%}> 
                                                        <span>겨울철 물주기<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        - 겨울에는 [ {{plant.water_period_winter}} ] 정도의 느낌이 들 만큼 물을 주세요!
                                                        </td> 
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                {% endfor %}
                            {%else%}
                            <div id="no-post" class="text-center" >
                            <img style="width: 2rem;" src="{% static 'images/flower.png'%}" />
                            <span> 현재 스크랩한 식물이 없습니다. </span>
                            <img style="width: 2rem;" src="{% static 'images/flower.png'%}" />

                            </div>
                            {% endif %}
                        </div>

                        <div id="paging"><!--pagenation-->
                            <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                                <!-- 이전페이지 -->
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>
                                    <!-- href로 뎁스 설정 -->
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                </li>
                                {% endif %}
                                <!-- 페이지리스트 -->
                                {% for page_number in page_obj.paginator.page_range %}
                                {% if page_number == page_obj.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <!-- 다음페이지 -->
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container sidebar text-center p-1">
                {% comment %} {%if user.id != request.user.id%} <!--다른 사람의 프로필을 보는 경우-->
                    {% if is_following%}
                    <div class="follow-wrapper">
                        <div class='following'>
                            <button class='follow-btn' onclick="onClickFollowing({{user.id}})">팔로잉</button>
                        </div>
                    </div>
                        {% else %}
                        <div class="follow-wrapper">
                            <div class="follow">
                                <button class='follow-btn' onclick="onClickFollow({{user.id}})">팔로우</button>
                            </div>
                        </div>
                    {% endif %}
                {%endif%} {% endcomment %}
                <!--내 프로필 경우-->
                {%if user.id == request.user.id%}
                    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
                        <a href="{% url 'user:my_pick' user.pk %}" >My Pick</a>
                        <a href="#" type="button" >My Scrab</a>
                        <a href="{% url 'community:post_create' %}" >게시물 작성</a>
                        <a href="{% url 'user:profile_update' %}" >프로필 수정</a>
                        <a href="{% url 'user:update' %}" >회원정보 수정</a>
                        <a href="{% url 'user:signout' %}" >회원탈퇴</a>
                    </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}