{% extends "base.html" %}
{% load static %}
{%block head%}
<link href="{% static 'style/css/profile.css' %}" rel="stylesheet">
<link href="{% static 'style/css/main_plant.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<!--CDN 링크 -->

{%endblock%}
{% block content %}

<div class="container pe-0 ps-0">
    <div class="row justify-content-center">
        <div class="col col-10 mt-3 mb-5">
            <div class="container profile">
                <div class="container profile_in">
                    <div class="row justify-content-center row-cols-1 row-cols-md-2">
                        <div class="col text-center" style="margin-right:-5%; padding:0;">
                            <img class="lazyload" id="user-img" data-src={{user.Image.url}} />
                        </div>
                        <div class="col">
                            <div id="user-info">
                                {% if user.point < 100 %} <span id="user-level">
                                    <a tabindex="0" type="button" data-bs-toggle="popover" data-bs-trigger="focus"
                                        title="입문 정원사 ({{user.point}}점)" data-bs-content="0~99점(게시물 0개 ~ 3개)">
                                        입문정원사<br></span>
                                        {% elif user.point < 300 %} <span id="user-level">
                                            <a tabindex="0" type="button" data-bs-toggle="popover"
                                                data-bs-trigger="focus" title="초보 정원사 ({{user.point}}점)"
                                                data-bs-content="100~299점(게시물 4개 ~ 9개)">초보 정원사</span>
                                                {% elif user.point < 600 %} <span id="user-level">
                                                    <a tabindex="0" type="button" data-bs-toggle="popover"
                                                        data-bs-trigger="focus" title="아마추어 정원사 ({{user.point}}점)"
                                                        data-bs-content="300~599점(게시물 10개 ~ 19개)">아마추어 정원사</span>
                                                        {% elif user.point < 1000 %} <span id="user-level">
                                                            <a tabindex="0" type="button" data-bs-toggle="popover"
                                                                data-bs-trigger="focus" title="프로 정원사 ({{user.point}}점)"
                                                                data-bs-content="600~999점(게시물 20개 ~ 33개)">프로 정원사</a>
                                                            입니다.<br></span>
                                                            {% else %}
                                                            <span id="user-level"><a tabindex="0" type="button"
                                                                    data-bs-toggle="popover" data-bs-trigger="focus"
                                                                    title="국가대표 정원사 ({{user.point}}점)"
                                                                    data-bs-content="1000점 이상(게시물 34개 이상)">국가대표
                                                                    정원사</a>입니다.<br></span>
                                                            {% endif %}

                                                            <div class="user-id-config">
                                                                <span id="user-id"> {{user.userid}}</span>
                                                                {%if user.id == request.user.id%}
                                                                <a href="{% url 'user:profile_update' %}">
                                                                    <img class=""
                                                                        src="{% static 'images/ios-settings 1.svg'%}" />
                                                                </a>
                                                                {% else %}
                                                                {% if is_following%}
                                                                <div class="follow-wrapper ms-2">
                                                                    <div class='following'>
                                                                        <button class='follow-btn'
                                                                            onclick="onClickFollowing({{user.id}})">팔로잉</button>
                                                                    </div>
                                                                </div>
                                                                {% else %}
                                                                <div class="follow-wrapper">
                                                                    <div class="follow">
                                                                        <button class='follow-btn'
                                                                            onclick="onClickFollow({{user.id}})">팔로우</button>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                                {% endif %}
                                                            </div>

                                                            <div id="profile-content">
                                                                <span style='overflow:auto;'>
                                                                    {%if user.profile%}
                                                                    {{user.profile|linebreaksbr}}
                                                                    {% else %}
                                                                    프로필 정보가 없습니다.
                                                                    {%endif%}
                                                                    <br>
                                                                </span>
                                                            </div><br>
                                                            <div id="user-follow" class="mt-2 mb-3">
                                                                <a href="{% url 'user:follow' user.pk %}">팔로워 <span
                                                                        class="follower-count">{{follower}}</span></a>
                                                                <a href="{% url 'user:follow' user.pk %}">&nbsp&nbsp&nbsp팔로잉
                                                                    <span
                                                                        class="following-count">{{following}}</span></a>
                                                            </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="profile-post-header">
                        <div class="profile-post-header__item profile-post-header__like">
                            <a href="{% url 'user:profile' user.pk %}">
                                <img class="profile-post-header__img"
                                    src="{% static 'images/profile-create-line.svg'%}" />
                                <span class="profile-post-header__text">작성 게시글</span>
                            </a>
                        </div>
                        {%if user.id == request.user.id%}
                        <div class="profile-post-header__item profile-post-header__like">
                            <a href="{% url 'user:my_pick' user.pk %}">
                                <img class="profile-post-header__img"
                                    src="{% static 'images/profile-heart-line.svg'%}" />
                                <span class="profile-post-header__text">좋아요</span>
                            </a>
                        </div>
                        <div class="profile-post-header__item profile-post-header__scrap">
                            <img class="profile-post-header__img" src="{% static 'images/profile-mark-fill.svg'%}" />
                            <span class="profile-post-header__text header-active">스크랩</span>
                        </div>
                        {%endif%}
                        <div class="profile-post-header__item profile-post-header__myplant">
                            <a href="{% url 'user:my_plants' user.pk %}">
                                <img class="profile-post-header__img"
                                    src="{% static 'images/profile-leaf-line.svg'%}" />
                                <span class="profile-post-header__text">마이 플랜트</span>
                            </a>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3" style="margin-left:20px; margin-top:20px;">
                        <!--포스트 리스트-->
                        {% if scrab_list%}
                        {%for scrab in scrab_list%}


                        <div class="col">
                            <div class="card p-2 m-3" id="plant-card" style="border:none;">
                                <div class="image">
                                    <a data-bs-toggle="modal" data-bs-target="#plantDetailModal-{{scrab.plant.pk}}">
                                        <img src={{scrab.plant.photo_url|safe}} class="lazyload card-img-top"
                                            id="plant-img" alt="...">
                                        <h3>{{scrab.plant.name}}<br> 알아보기</h3>
                                    </a>
                                </div>
                                <div class="card-body" style="padding : 1rem 0 0 0;">
                                    <h5 class="card-title" style="font-size:1.7rem;">{{ scrab.plant.name }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="plantDetailModal-{{scrab.plant.pk}}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content" id="plantDetailModal-content">
                                    <div class="modal-header"
                                        style="border: none; padding-right: 3rem; padding-top:3rem;">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-start pb-3">
                                        {%if scrab.plant in scrap_plant_list %}
                                        <div class="btn btn-success btn-sm post__del_scrap"
                                            onclick="onClickScrap({{scrab.plant.pk}})">
                                            <img class="profile-post-header__img"
                                                src="{% static 'images/mark_fill.svg'%}" />
                                        </div>
                                        {% else %}
                                        {% if request.user.is_authenticated %}
                                        <div class="btn btn-success btn-sm post__scrap"
                                            onclick="onClickScrap({{scrab.plant.pk}})">
                                            <img class="profile-post-header__img"
                                                src="{% static 'images/mark_line.svg'%}" />
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        <h5 class="modal-title" id="plantDetailLabel">{{scrab.plant.name}}</h5>
                                    </div>
                                    <div class="modal-body text-center"
                                        style="padding-left:40px; padding-right:40px; padding-bottom:40px;">
                                        <img class="lazyload" data-src={{plant.photo_url|safe}}>
                                        <div>
                                            <table class="text-start mt-2">
                                                <tbody>
                                                    <tr>
                                                        <td class="p-2 table-title">
                                                            <span>생육형태<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.growth_form}}
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-title">

                                                            <span>관리 난이도<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.name}}의 관리 난이도는
                                                            {{scrab.plant.care_difficulty}} 입니다.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-title">

                                                            <span>관리 요구 수준<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {%if scrab.plant.management_level == "경험자" %}
                                                            식물을 키워본 경험이 좀 있다면 어렵지 않아요! 도전해보세요!
                                                            {%elif scrab.plant.management_level == "초보자" %}
                                                            {{scrab.plant.management_level}}도 쉽게 키울 수 있어요! 어렵지 않아요!
                                                            {% else %}
                                                            {{scrab.plant.management_level}} 정도의 수준이 요구되어요!
                                                            {%endif%}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-title">

                                                            <span>생육 온도<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.growth_temp}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-title">

                                                            <span>생육 습도<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.humidity}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-title">

                                                            <span>봄철 물주기<span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.water_period_autumn}}
                                                        </td>
                                                    </tr>
                                                    <td class="p-2 table-title">

                                                        <span>여름철 물주기<span>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.water_period_summer}}
                                                        </td>
                                                    </tr>
                                                    <td class="p-2 table-title">

                                                        <span>가을철 물주기<span>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.water_period_autumn}}
                                                        </td>
                                                    </tr>
                                                    <td class="p-2 table-title">

                                                        <span>겨울철 물주기<span>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.water_period_winter}}
                                                        </td>
                                                    </tr>
                                                    <td class="p-2 table-title">

                                                        <span>기타사항<span>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="p-2 table-con">
                                                            {{scrab.plant.content}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {%else%}
                        <div id="no-post" class="text-center">

                            <span> 현재 게시글이 없습니다. </span>
                        </div>
                        {% endif %}
                    </div>
                    <div id="paging">
                        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                            <!-- 이전페이지 -->
                            {% if page_obj.has_previous %}

                            <li class="page-item">
                                <a class="page-link" href="?&page={{ page_obj.previous_page_number }}"
                                    style="border:none; font-size: 15px;">&lt;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-disabled="true" tabindex="-1"
                                    style="font-size: 15px; border:none;">&lt;</a>
                            </li>
                            {% endif %}
                            <!-- 페이지리스트 -->
                            {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number == page_obj.number %}
                            <li aria-current="page"
                                class="page-item {% if page == page_obj.number %} activate {% endif %}">
                                <a class="page-link page-link-circle" href="?&page={{ page_number }}"
                                    style="border-radius:100%; border:none; font-size: 12px; margin-right:7px;">{{page_number }}</a>
                            </li>
                            {% else %}
                            <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
                                <a class="page-link page-link-circle" href="?&page={{ page_number }}"
                                    style="border-radius:100%; border:none; font-size: 12px; margin-right:7px;">{{page_number }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?&page={{ page_obj.next_page_number }}"
                                    style="border:none; font-size: 15px; margin-left:-7px;">&gt;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                                    style="border:none; font-size: 15px; margin-left:-7px;">&gt;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    $(function () {
        $('[data-bs-toggle="popover"]').popover()
    })
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
    })
</script>
{% endblock %}

{% block js %}
<script src="{% static 'javascripts/profile_follow.js' %}"></script>
{% endblock %}