{% extends "login_base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'style/css/profile_update.css' %}" rel="stylesheet">
    <style>
	    *{
	        font-size: 100%;
	    }
        @media screen and (max-width : 900px){
        html {font-size:0.8rem}  
    	}

    	@media screen and (max-width : 560px){
    	    html {font-size:0.6rem}  
    	}
    	@media screen and (max-width : 900px){
    		#image-container{
    		  display: none;
    		}
    		#image-container img {
    		  display: none;
    		}
    		#left-container{
    		  margin-right: 0px!important;
    		} 
		}
	</style>
{% endblock %}

{% block content %}
<div id="left-container" class="col-6 d-flex flex-column justify-content-center">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div class="row gx-3">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column">
                        <img class="lazyload" id="blah" data-src="{{request.user.Image.url}}" alt="" >
                        <button style="color:#8F8F8F; border:solid 1px #8F8F8F; border-radius: 20px;" class="btn mt-3" type="button" onclick="onClickBaseImage({{user.id}})">기본이미지 지정</button>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">프로필 사진</p>
                        <input title="프로필 사진 선택" type="file" name="Image" class="" onchange="readURL(this);" accept="image/*" id="id_Image">
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="d-flex flex-column">
                        <p class="text">닉네임</p>
                        <input title="닉네임 입력 칸" class="regular-size" type="text" name="name" value="{{form.name.value}}" class="" required="" id="id_name"> 
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="d-flex flex-column">
                        <p class="text">소개</p>
                        <textarea title="소개 입력 칸" class="regular-size" value="{{form.profile.text}}" name="profile" cols="40" rows="10" id="id_profile">{{form.profile.value}}</textarea>
                    </div>
                </div>
                <div class="col flex-column text-center mt-2">
                    <button style="width: 20rem; height: 2.5rem; color: white; background-color: #354847;" onclick="onClickSaveImage({{user.id}})" class="btn btn-primary mb-3" type="submit" >저장하기</button>
                    <a title="마이프로필 페이지 이동" class="btn button-black regular-size mb-3 d-flex justify-content-center align-items-center" href ="{% url 'user:my_profile' %}">취소하기</a>
                    <a title="회원정보 수정" class="btn button-white regular-size mb-3 d-flex justify-content-center align-items-center" href ="{% url 'user:update' %}" >회원정보 수정하기</a>
                </div>
            </div>
        </div>
    </form>  
</div>
{% endblock %}

{% block js %}
    <script>
        function readURL(input) {
            console.log(input);
            if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            }
        }

        const requestBaseImage = new XMLHttpRequest();

        const onClickBaseImage = (user_id) => {
            const url = "/base_image_ajax/";
            requestBaseImage.open("POST", url, true);
            requestBaseImage.setRequestHeader(
                "Content-Type",
                "application/x-www-form-urlencoded"
            );
            requestBaseImage.send(JSON.stringify({ user_id: user_id }));
        };

        const baseImageHandleResponse = () => {
            if (requestBaseImage.status < 400) {
                const { user_image } = JSON.parse(requestBaseImage.response);
                const profileImage = document.querySelector('#blah')
                profileImage.setAttribute('src', user_image)
            };
        }

        requestBaseImage.onreadystatechange = () => {
            if (requestBaseImage.readyState === XMLHttpRequest.DONE) {
                baseImageHandleResponse();
            }
        };
      
    requestBaseImage.onreadystatechange = () => {
      if (requestBaseImage.readyState === XMLHttpRequest.DONE) {
        baseImageHandleResponse();
      }
    };

    const requestSaveImage = new XMLHttpRequest();

    const onClickSaveImage = (user_id) => {
        const url = '/save_image_ajax/'
        requestSaveImage.open("POST", url, true);
        requestSaveImage.setRequestHeader(
        "Content-Type",
        "application/x-www-form-urlencoded"
      );
      const src = document.querySelector('#blah').getAttribute('src')
      requestSaveImage.send(JSON.stringify({user_id: user_id, src: src}));
    };
</script>
{% endblock %}