{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center main-container" style="background-color: #D8D8D8;">
    <div class="row justify-content-center align-items-center" style="background-size: cover;  background-image: url({%static 'images/login_background.jpg'%}); width:80%; height:100%;">
        <div style="z-index: 10; text-align: center; max-height: 70%; max-width: 80%;" class="row col-12" >
            <h1 class="col-12" style="margin-bottom: 50px;">회원 탈퇴</h1>
            <div class="col-12" style="font-size: 2vh;">
                <p>계정을 삭제하면 고객님의 프로필, 가드닝 사진,  댓글, 좋아요,  팔로워가 
                    영구적으로 삭제됩니다.
                    <br>
                    <br>
                    계정이 삭제된 후, 회원님께서 사용하셨던 닉네임을 다른 고객이 Gardener에서 사용하지 않는 한 
                    <br>
                    <br>
                    동일한 닉네임으로  다시 가입하거나 해당 닉네임으로 다시 가입하여 이용하실 수 있습니다.
                    <br>
                    <br>
                    <br>
                    정말 탈퇴하시겠습니까?
                </p>
            </div>
            <div class="col-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <button class="signout-btn" type="submit" style="font-size: 2vh;">탈퇴하기</button>
                </form>
                <a href="{% url 'user:start_page' %}" style="text-decoration: none;"><button class="signout-btn" style="margin-top: 5px; font-size: 2vh;">취소</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}