
{% extends "login_base.html" %}
{% load static %}
{% load socialaccount %}
{% block head %}
    <link href="{% static 'style/css/login.css' %}" rel="stylesheet">
	<style>
	    *{
	        font-size: 100%;
	    }
		@media screen and (max-width : 900px){
        html {font-size:0.8rem}  
    }

    @media screen and (max-width : 560px){
        html {font-size:0.6rem}  
    }
    @media screen and (max-width : 900px){
    #image-container{
      display: none;
    }
    #image-container img {
      display: none;
    }
    #left-container{
      margin-right: 0px!important;
    } 
}
	</style>

{% endblock %}

{% block content %}
<div id="left-container" class="col-5 d-flex flex-column justify-content-center">
    <div style="margin-bottom: 3.125rem;">
        <a href="{% url 'user:start_page' %}">
            <img src="{% static 'images/logo.png' %}" alt="" class="logo-size">
        </a>
    </div>
    <div>
		<p style="font-weight: bold;"> 
			계정을 삭제하면 고객님의 프로필, 가드닝 사진,  댓글, 좋아요, 
			<br> 팔로워가 영구적으로 삭제됩니다.
			<br>
			계정이 삭제된 후, 회원님께서 사용하셨던 닉네임을 
			<br>
			다른 고객이 Ourpalnt에서 사용하지 않는 한 동일한 
			<br>
			닉네임으로 다시 가입하거나 해당 닉네임으로 
			<br>
			다시 가입하여 이용하실 수 있습니다.
			<br>
			<br>
			정말 탈퇴하시겠습니까?</p>
    </div>
	<div style="margin-top: 1rem;">
		<form action="" method="POST">
			{% csrf_token %}
			<button style="margin-bottom:1rem;" class="btn regular-size button-black" type="submit">탈퇴하기</button>
		</form>
		<a href="{% url 'user:my_profile' %}" style="text-decoration: none;"><button class="btn regular-size button-black">취소</button></a>
	</div>
</div>
{%endblock%}