{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'style/css/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center main-container" style="background-image: url({% static 'images/login_background.jpg' %});">
    <div class="container p-0">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card px-5">
                <p class="h8 px-5">Gardener</p>
                <p class="h8 px-5">회원가입</p>
                <div class="row gx-3">           
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">이름</p> <input type="text" name="name" class="form-control mb-3" required="" id="id_name">
                        </div>
                    </div>
                    <div class="col-12">
                        <p>
                            {{form.userid.errors}}
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">아이디</p><input type="text" name="userid" class="form-control mb-3" required="" id="id_userid">
                        </div>
                    </div>
                    <div class="col-12">
                        <p>
                            {{form.email.errors}}
                        </p>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">이메일</p>
                            <input type="email" name="email" class="form-control mb-6" required="" id="id_email">
                        </div>
                    </div>
                    <div class="col-12">
                        <p>
                            비밀번호는 8자리 이상, 영문과 숫자를 섞어 주세요.
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">비밀번호</p>
                            <input type="password" name="password1" class="form-control mb-3" required="" id="id_password1">
                        </div>
                    </div>
                    <div class="col-12">
                        <p>
                            {{form.password2.errors}}
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">비밀번호 확인</p>
                            <input type="password" name="password2" class="form-control mb-6" required="" id="id_password2">
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary mb-3 mt-3" type="submit"><span>회원가입</span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
