{% extends "base.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'style/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div style="width: 100%; height: 90%;">
	<div class="d-flex justify-content-center align-items-center main-container" style="position: relative; background-color: #D8D8D8; background-size: cover; background-image: url({%static 'images/login_background.jpg'%});">
		<div class="container p-0">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="card px-5" style="max-width: 460px;">
					<p class="h8 py-5 px-5">회원 탈퇴 완료</p>
					<div class="row gx-3">
						<div class="col-12 text-center mb-5">
							<div class="d-flex flex-column">
								<p class="text mb-1"> 그 동안 Gardener를 이용해주셔서 감사합니다.</p>
							</div>
						</div>
						<div class="col-12 text-center">
							<div class="d-flex flex-column">
								<a href="{% url 'user:start_page'%}"><button class="btn btn-primary">메인페이지로 돌아가기</button></a>
							</div>
						</div>
					</div>
				</div>
			</form>  
		</div>
	</div>
</div>
{% endblock %}