{% extends "login_base.html" %}
{% load static %}
{% block head %}
<style>
    *{
        font-size: 100%;
    }
    @media screen and (max-width : 900px){
        html {font-size:0.8rem}  
    }

    @media screen and (max-width : 560px){
        html {font-size:0.6rem}  
    }
    @media screen and (max-width : 900px){
    #image-container{
      display: none;
    }
    #image-container img {
      display: none;
    }
    #left-container{
      margin-right: 0px!important;
    } 
}
</style>
{%endblock%}
{% block content %}
<div id="left-container" class="col-6 d-flex flex-column justify-content-center" style="margin-right: 6.3125rem; width: 21.5rem;">
    <div style="margin-bottom: 3.125rem;">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row gx-3">
            <div class="col-12">
                <p>
                    {{user_change_form.userid.errors}}
                </p>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column mb-3">
                    <p class="text mb-1">아이디</p>
                    <input style="width: 20rem; height: 2.5rem;" type="text" name="userid" value="{{user_change_form.userid.value}}" required="" id="id_userid">
                </div>
            </div>
            <div class="col-12">
                <p>
                    {{user_change_form.email.errors}}
                </p>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column mb-3">
                    <p class="text mb-1">이메일</p>
                    <input style="width: 20rem; height: 2.5rem;" type="email" name="email" value="{{user_change_form.email.value}}" required="" id="id_email">
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column mb-3">
                    <p class="text mb-1">비밀번호</p>
                    <input style="width: 20rem; height: 2.5rem;" type="password" name="password1" required="" id="id_password1">
                </div>
            </div>
            <div class="col-12">
                <p>{{user_change_form.password2.errors}}</p>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column mb-3">
                    <p class="text mb-1">비밀번호 확인</p>
                    <input style="width: 20rem; height: 2.5rem;" type="password" name="password2"required="" id="id_password2">
                </div>
            </div>
            <div class="col-12">
                <button style="width: 20rem; height: 2.5rem; color: white; background-color: #354847;" class="btn btn-primary mb-3 mt-3" type="submit"><span>저장하기</span></button>
            </div>
            <div class="col-12">
                <a style="width: 20rem; height: 2.5rem; color: white; background-color: #354847;" class="d-flex justify-content-center align-items-center" href="{% url 'user:my_profile' %}">
                    <span>취소하기</span>
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}