{% extends "login_base.html" %}
{% load static %}
{% block head %}
<style>
    *{
        font-size: 100%;
    }
    @media screen and (max-width : 900px){
        html {font-size:0.8rem}  
    }

    @media screen and (max-width : 560px){
        header {
            display: none;
        }
        html {font-size:0.6rem}
    }
    @media screen and (max-width : 900px){
    #image-container{
      display: none;
    }
    #image-container img {
      display: none;
    }
    #left-container{
      margin-right: 0px!important;
    } 
}
</style>
<link href="{% static 'style/css/update.css' %}" rel="stylesheet">

{%endblock%}
{% block content %}
<div id="left-container" class="col-6 d-flex flex-column justify-content-center">
    <div style="margin-bottom: 3.125rem;">
        <a href="{% url 'user:start_page' %}" title="웰컴 페이지 이동">
            <img src="{% static 'images/logo.png' %}" alt="">
        </a>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row gx-3">
            <div class="col-12">
                <p>
                    {{user_change_form.userid.errors}}
                </p>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column mb-3">
                    <p class="text mb-1">아이디</p>
                    <input title="아이디 입력 칸" class="regular-size" type="text" name="userid" value="{{user_change_form.userid.value}}" required="" id="id_userid">
                </div>
            </div>
            <div class="col-12">
                <p>
                    {{user_change_form.email.errors}}
                </p>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column mb-3">
                    <p class="text mb-1">이메일</p>
                    <input title="이메일 입력 칸" class="regular-size" type="email" name="email" value="{{user_change_form.email.value}}" required="" id="id_email">
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column mb-3">
                    <p class="text mb-1">비밀번호</p>
                    <input title="비밀번호 입력 칸" class="regular-size" type="password" name="password1" required="" id="id_password1">
                </div>
            </div>
            <div class="col-12">
                <p>{{user_change_form.password2.errors}}</p>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column mb-3">
                    <p class="text mb-1">비밀번호 확인</p>
                    <input title="비밀번호 확인 입력 칸" class="regular-size" type="password" name="password2"required="" id="id_password2">
                </div>
            </div>
            <div class="col-12">
                <button title="회원정보 저장" class="btn mb-3 mt-3 regular-size button-black" type="submit"><span>저장하기</span></button>
            </div>
            <div class="col-12">
                <a title="마이 프로필 페이지 이동" class="d-flex justify-content-center align-items-center regular-size button-black" href="{% url 'user:my_profile' %}">
                    <span>취소하기</span>
                </a>
            </div>
            <div class="col-12">
                <a title="탈퇴 페이지 이동" class="mt-3 d-flex justify-content-center align-items-center regular-size button-white" href="{% url 'user:signout' %}">
                    <span>탈퇴하기</span>
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}