.main-container {
    width: 100vw; 
    height: 90vh;
}

.login-container {
    background-color:rgba(0, 0, 0, 0.05);
    width: 60vw; 
    height: 60vh;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login-container {
    width: 100vw;
    height: 40vh;
}

.form-control{
    width: 60%;
    height: 54px;
    border: solid 1px rgba(0, 0, 0, 0.8);
}

.login-btn {
    width: 60%;
    background-color: #CCDFCC;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-utils {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-logo {
    text-align: center;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.right-login-container {
    width: 100vw; 
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: solid 1px black;
}

.google-login {
    background-repeat: no-repeat;
}

.login-form {
    max-width: 100%; 
    max-height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 30vw;
    flex-wrap: wrap;
}

.signup-form-control {
    max-width: 100%;
    width: 100vw;
    margin-top: 5px;
    height: 4vh;
}

.signup-container {
    background-color:rgba(0, 0, 0, 0.05);
    width: 40vw; 
    height: 700px;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 20px;
}

.signup-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
}

.signup-btn {
    width:80%; 
    border: none; 
    background-color: #CCDFCC; 
    margin-top: 20px; 
    border-radius: 5px; 
    /* height: 40px; */
    /* font-size: 1rem; */
    word-break:break-all;
    min-height: 100%;
    margin:0;
    min-width: 50px;
}

.update-container {
    background-color:rgba(0, 0, 0, 0.05);
    margin: auto;
    border-radius: 10px;
    z-index:10; 
    width:40%; 
    height: auto;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.update-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

.update-form-control{
    margin-bottom: 10px;
    border:solid 3px #CCDFCC;
    border-radius: 10px;
}

.update-btn {
    width:100%; 
    border: solid 1px rgba(0, 0, 0, 0.5); 
    background-color: #CCDFCC; 
    margin-top: 20px; 
    border-radius: 5px; 
    height: 40px;
}

.signout-btn {
    width:10vh; 
    border: solid 1px rgba(0, 0, 0, 0.5); 
    background-color: #CCDFCC; 
    margin-top: 20px; 
    border-radius: 5px; 
    height: 40px;
    display: inline;
}

.profile-update-container {
    background-color: rgb(199, 199, 199);
    margin: auto;
    border-radius: 10px;
    z-index:10; 
    width: 40vw; 
    height: 70vh;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}

.profile-update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-update-form-control-name {
    width: 40vh;
    border: solid 1px rgba(0, 0, 0, 0.5);
    background-color: #CCDFCC;
}

.profile-update-form-control-profile{
    width: 40vh;
    background-color: #CCDFCC;
}

.profile-update-btn {
    background-color: #CCDFCC;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 10vh;
}

#reset-form-container {
    z-index: 10;
    background-color: #CCDFCC;
    width: 40vw; 
    height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-form-control {
    width: 20vh;
}

#reset-confirm-form-container {
    z-index: 10;
    background-color: #CCDFCC;
    width: 40vw; 
    height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password_submit_btn {
    border-radius: 5px;
    background-color: #D8D8D8;
    border: solid 1px rgba(0, 0, 0, 0.5);
}

#email_submit_btn {
    border-radius: 5px;
    background-color: #D8D8D8;
    border: solid 1px rgba(0, 0, 0, 0.5);
}
#updateForm p{
    margin-bottom: 0.7rem;
}