{% extends "login_base.html" %}
{% load static %}
{% load socialaccount %}
{% block head %}
    <link href="{% static 'style/css/login.css' %}" rel="stylesheet">
	<style>
	    *{
	        font-size: 100%;
	    }
		@media screen and (max-width : 900px){
        html {font-size:0.8rem}  
    	}

    	@media screen and (max-width : 560px){
    	    html {font-size:0.6rem}  
    	}
    	@media screen and (max-width : 900px){
    		#image-container{
    		  display: none;
    		}
    		#image-container img {
    		  display: none;
    		}
    		#left-container{
    		  margin-right: 0px!important;
    		} 
		}
	</style>
{% endblock %}

{% block content %}
<div id="left-container" class="col-5 d-flex flex-column justify-content-center">
    <div style="margin-bottom: 3.125rem;">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div>
		<div class="d-flex flex-column" style="font-size: 0.875rem; font-weight: bold;">
			<p> 입력해주신 이메일로 인증링크를 발송했습니다.
				<br><br>
				1~2분 시간이 소요될 수 있으니 잠시만 기다려주세요.</p> <br>
			<p> 			
				이메일을 받지 못한 경우 가입 시 입력한 이메일이 <br>정확한지 확인해주세요.
				<br><br>
				안내 이메일이 스팸 메일로 분류될 수 있으니<br> 스팸 폴더를 확인해주세요.
			</p><br>
		</div>
    </div>
	<a href="{% url 'user:start_page' %}"><button class="btn regular-size button-black">첫 페이지로</button></a>
</div>
{%endblock%}