

.main-plant {
  background: url("/static/images/background-top.jpg");
  background-position: 70% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  padding: 0;
}

.level-con {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.level-con h5 {
  font-size: 1.7rem;
}
.level-btn {
  margin-left: 1.5rem;
  padding: 0.4rem 0.9rem;
  border-radius: 3em;
  border: 1px solid #8F8F8F;
  color: #8F8F8F;
  font-size: 1.2rem;
}
.level-btn:after {
  border: 1px solid #76B79C;
  color: #76B79C;
}

#plant-header {
  padding-left: 0;
  padding-right: 0;
  margin-top: 80px;
  color: white;
  text-align: center;
  height: 30%;
}
#plant-header-p {
  margin-top: 50px;
  margin-bottom: 20px;
}
#plant-header-p h2 {
  text-shadow: -1px -1px 0 #5a3e0a, 1px -1px 0 #5a3e0a, -1px 1px 0 #5a3e0a,
    1px 1px 0 #5a3e0a;
  /* text-shadow: 0px 0px 10px #1a1003; */
}
#plant-header-form form {
  height: 30%;
  margin-bottom: 5vh;
}
#plant-header-form .plant-input {
  width: 50%;
  height: 40px;
  border: solid 2px #ccdfcc;
  border-radius: 10px;
}
#plant-header-form .plant-input::placeholder {
  color: #5c5427;
  opacity: 80%;
}
#plant-header-form .plant-select {
  height: 37px;
  border: solid 2px #ccdfcc;
  border-radius: 10px;
  vertical-align: top;
  background: #ccdfcc;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 #a0cab5, 0 1px #a0cab5, 1px 0 #a0cab5, 0 -1px #a0cab5;
}

#plant-header-form .plant-input-1 {
  width: 60px;
  height: 37px;
  border: solid 2px #ccdfcc;
  border-radius: 10px;
  vertical-align: top;
  background: #ccdfcc;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 #a0cab5, 0 1px #a0cab5, 1px 0 #a0cab5, 0 -1px #a0cab5;
}

#plant-paginator {
  display: flex;
  justify-content: center;
  margin-top: 5;
}

#plant-card {
  display: inline-block;
  width: 80%;
  padding: 10px 20px;
}
#plant-card:hover {
  background-position: top right, bottom left;
  cursor: pointer;
}

.card-body {
  text-align: center;

}
.card-title {
  font-weight: 500;
  font-size: 1.7rem;
  font-weight: 500;
}
.image {
  overflow: hidden;
  height: 200px;
  width: auto;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.image:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-140%, -50%);
  background-color: #00000046;
  opacity: 0.8;
  border-radius: 50%;
  transition: 0.5s;
}

.image:hover:after {
  transform: translate(-50%, -50%);
}
/* 
.image:hover #plant-img {
  transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
} */
#plant-img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.image h3 {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-2000px, -50%);
  color: #fff;
  transition: 0.5s;
  transition-timing-function: ease-in;
  word-break: keep-all;
}
.image:hover h3 {
  transform: translate(-50%, -50%);
  transition-timing-function: ease;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.modal-dialog {
  border-radius: .3rem;
  margin-top: 80px;
  height: 600px;
  /* background-color: #fff; */
  background-clip: border-box;
  margin-bottom: 28px;
  overflow: hidden;
  transition: 0.3s;
}
/* .modal-content button {
  font-size: 100%;
  font-family: none;
} */
.modal {
  height: auto;
}
.modal-title {
  font-size: 2rem;
}
.modal-body img {
  height: 200px;
  margin-bottom: 5px;
}

.modal-body table img {
  width: 1.5rem;
  height: auto;
  border: none;
}

.modal-body table span {
  margin-left: 3px;
}
.modal-header {
  font-size: 15px;
}
.modal-header h5 {
  font-weight: bold;
}

.post__del_scrap {
  border-radius: 20px;
  border: none;
}

.post__scrap {
  border-radius: 20px;
  border: none;
}

.btn {
  height: 34px;
  background-color: white;
  color: white;
}

.suggestions {
  position: relative;
  left: 27vw;
  background-color: #eceef1;
  border-radius: 3px;
  width: 30vw;
  z-index: 1;
}

.suggested {
  color: black;
  cursor: pointer;
  margin: 2px;
}

.fa-bookmark {
  color: #76B79C;
}
table{
  font-family: 'Noto Sans KR', sans-serif;
}

.table-title span {
  font-weight: 500;
  font-size: 1.5rem;
}
.table-con {
  font-weight: 300;
  color: #8F8F8F;
  font-size: 1.2rem;
}