{% extends "base.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'style/css/makequestion_form.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class='container main-body mb-5' id='makequestion-body'>
    <div class='row'>
        <div class='col col-12 container-fluid d-flex flex-column' id='makequestion-main'>
            <div style='width:80%;'>
                <div class="mt-5">
                    <form action='' method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div style="float:right;">
                            {% if form.title.value%}
                            <button class="go-to-main"><a href="{% url 'QnA:questiondetail' pk %}">취소하기</a></button>
                            <input type="submit" value = '수정하기' class='make-something input-font'/>
                            {% else %}
                            <button class="go-to-main"><a href="{% url 'QnA:communityquestion_list' %}">돌아가기</a></button>
                            <input type="submit" value = '저장하기' class='make-something input-font'/>
                            {% endif %}
                        </div>
                        <div class='form-group' style="margin-bottom:3rem;">
                            <label for="id_title" class="form-label" style="font-size:1.6rem; font-weight:bold;">제목</label>
                            {% if form.title.value %}
                            <input type="text" class='form-control' name="title" maxlength="100" required="" id="id_title" value = "{{form.title.value}}" style="font-size:1.4rem;">
                            {% else %}
                            <input type="text" class='form-control' name="title" maxlength="100" required="" id="id_title" style="font-size:1.4rem;">
                            {% endif %}
                        </div>
                        <div class='form-group' style="margin-bottom:3rem;">
                            <label for="content" class="form-label label-font">내용</label>
                            <div style='width: 100%;'>
                                {{ form.media }}
                                {{ form.as_p }}
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for = 'id_tags' class = 'form-label label-font'>태그</label>
                            <input type="text"class="form-control" name="tags" placeholder="{{form.tags.help_text}}"value="{%for tag in form.tags.value %}#{{tag}}{%endfor%}" id="id_tags" style="font-size:1.4rem;">
                        </div>                        
                    </form>
                </div>
            </div>
            
        </div>
    </div>    
</div>      
{% endblock %}