{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'style/css/question_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block button %}
<button class="make-something"><a href="{% url 'QnA:makeanswer' question.pk %}">답글달기</a></button>
<button class="go-to-main"><a href="{% url 'QnA:communityquestion_list' %}">목록으로</a></button>
{% endblock %}

{% block content %}
<div class='container-fluid mt-4 mb-3' id="container" style='width:70%;'>
    <div class="row border-bottom">
        <span class="question-detail-title"> {{ question.title }}</span>
        <div class="row row-cols-2 d-flex justify-content-between" id="question-detail-header">
            <div class="col">
                <span id="question-detail-head"><img class="lazyload" id='question-detail-thumbnail' data-src="{{ question.user_id.Image.url }}"> {{ question.user_id }}</span>
                <span>&#183</span>
                <span id="question-detail-date">{{question.created_at | date:"Y.m.d h:m"}}</span>
            </div>
            {% if request.user == ans.user_id or request.user == question.user_id %}
            <div class="col d-flex justify-content-end">
                <button class="edit-button me-3" >
                    <a href = '{% url "QnA:deletequestion" question.pk %}'>삭제</a>
                </button>
                <button class="edit-button">
                    <a href = '{% url "QnA:editquestion" question.pk %}'>수정</a>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row d-flex border-bottom" id="question-detail-box">
        <div id="question-detail-content">
            {{ question.content|safe }}
        </div>
        <div >
            {% for tag in question.tags.all %}
                <form action="{% url 'QnA:tagged' tag %}" style="display: inline;">
                    <input class="tags" type="submit" value="{{ tag.name }}"></input>
                </form>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-4" id="question-detail-like">
        <div>
            <img class="me-1" src="{% static 'images/comment_line.svg' %}" alt="코멘트">{{answer|length}}
            <span class="ms-2 me-1" id="post-detail-views">조회수 {{views}}</span>
            <div style="display: inline">
                {% if user.is_authenticated %}
                    <button class="create-answer" type="button">
                        <a href = "{% url 'QnA:makeanswer' question.pk %}">답글달기</a>
                    </button>
                {% else %}
                    <p>댓글 작성을 위해서는 로그인이 필요합니다</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4" id="question-detail-comment">
        {% for ans in answer %}
        <div class="answer answer-{{ans.id}}" style="margin-bottom:2rem;">
            <div class="ans-content" style="margin-bottom: 3rem;">
                <div class='mb-4'>
                    <span style="font-size: 1.7rem; font-weight:bold;">{{ans.title}}</span>
                </div>
                <span id="ans-head"><img class="lazyload" id='question-detail-thumbnail' data-src="{{ ans.user_id.Image.url }}"> {{ ans.user_id }}</span>
                {% if request.user == ans.user_id %}
                <div style="float:right;">
                    <button class="edit-button me-3" >
                        <a href = '{% url "QnA:deletequestion" question.pk %}'>삭제</a>
                    </button>
                    <button class="edit-button">
                        <a href = '{% url "QnA:editquestion" question.pk %}'>수정</a>
                    </button>
                </div>
                {% endif %}
                <div class="mt-2" id="ans-body">
                    {{ ans.content|safe }}
                    <div style="margin-bottom:3rem;"> 
                        <span style="font-size: 1.2rem;">{{ ans.created_at }}</span>
                    </div>
                </div>                
            </div>
            <div class="line"></div>
        </div>
        {% empty %}
        <p>아직 작성된 댓글이 없습니다</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
