.main-container {
  background-position:100% 20%;
  position: relative; 
  background-size: cover;
}

.card {
  max-width: 450px;
  min-height: 412px;
  margin: auto;
  color: black;
  justify-content: center;
  max-height: 800px;
  background-color: rgba(0, 0, 0, 0.2);
  border-style: double;
  border-width: 5px;
  border-color: #3b260f;
  margin-top: 120px;
  margin-bottom: 120px;
}

p {
  margin: 0px;
}

.container .h8 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.btn.btn-primary {
  width: 40%;
  height: 50px;
  border: none;
  transition: 0.5s;
  color: black;
  font-weight: 800;
  border-style: double; 
  border-width: 4px; 
  border-color:#3b260f;
  background:none;
  margin-right:10px;
  margin-left:10px;
}

.btn.btn.btn-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn.btn-primary:hover .fas.fa-arrow-right {
  transform: translate(15px);
  transition: transform 0.2s ease-in;
}
.text {
  font-size: 14px;
  font-weight: 600;
}

::placeholder {
  font-size: 14px;
  font-weight: 600;
}


.password-reset-form-control {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  padding-left: 20px;
  vertical-align: middle;
  border-radius:5px;
}

.password-reset-form-control:focus {
  color: #3b260f;
  border-color: #3b260f;
  box-shadow: none;
}
#password-icon1{
  width:2.5rem;
  vertical-align:baseline;
}
#top-text{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out; 
}
#top-text:hover{
  transform: scale(1.2);
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-o-transform: scale(1.2);
}
#login-icon1 {
  width: 2.5rem;
  transform: scaleX(-1);
}
#login-icon2 {
  width: 2.5rem;
}
