.col-design {
  border-bottom: solid 1px #eaeaea;
  margin-bottom: 40px;
}

#gardener-image-box {
  width: 80%;
  margin: 0 auto;
}

#gardener-img {
  width: 230px;
  height: 230px;
  border-radius: 100%;
}

.gardener-ranking {
  font-size: 9px;
  color: #76b79c;
}

.gardener-name {
  font-size: 18px;
  font-weight: bold;
}

.gardener-profile {
  width: 310px;
  text-align: left;
  margin: 0 auto;
}

.follow-button {
  border-radius: 15px;
  border: solid 1px #76b79c;
  background-color: white;
  color: #76b79c;
  font-size: 10px;
}

.following-button {
  border-radius: 15px;
  border: solid 1px #76b79c;
  background-color: #76b79c;
  color: white;
  font-size: 10px;
}
#gardener-card {
  display: inline-block;
  width: 80%;
  padding: 10px 20px;
  border-right: 2px solid #5c5427;
  border-left: 2px solid #ccdfcc;
  border-radius: 10px;
  background: linear-gradient(
      to right,
      #ccdfcc calc(50% - 5px),
      transparent calc(50% - 5px),
      transparent calc(50% + 5px),
      #5c5427 calc(50% + 5px)
    ),
    linear-gradient(
      to right,
      #ccdfcc calc(50% - 5px),
      transparent calc(50% - 5px),
      transparent calc(50% + 5px),
      #5c5427 calc(50% + 5px)
    );
  background-size: 150% 2px;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  transition: 0.5s all;
}
#gardener-card:hover {
  background-position: top right, bottom left;
  cursor: pointer;
}
.image {
  overflow: hidden;
  height: 200px;
  width: auto;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  text-align: center;
  border-radius: 10px;
}
.image:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-140%, -50%);
  background-color: #ccdfcc;
  opacity: 0.8;
  border-radius: 50%;
  transition: 0.5s;
}

.image:hover:after {
  transform: translate(-50%, -50%);
}

/* #gardener-img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 10px;
} */
.image span {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-2000px, -50%);
  color: #5c5427;
  font-weight: bold;
  transition: 0.5s;
  transition-timing-function: ease-in;
  word-break: keep-all;
}
.image:hover span {
  transform: translate(-50%, -50%);
  transition-timing-function: ease;
}

.btn {
  height: 34px;
  background-color: #a0cab5;
  color: white;
}
.card-body img {
  width: 1rem;
  height: auto;
}

.page-link {
  padding: 0.25rem 0.6rem;
  color: #354847;
}
