{% extends "base.html" %}
{% load static %}

{% block content %}
    <p>팔로잉</p>
    {% for following in followings %}
        {{following.id}}
        {{following.user.image}}
        {{following.user.name}}
        {{following.user.userid}}
        {{following.user.profile}}
        {% if request.user != following.user%}
                {% if following.user_id in cur_users_followings_list %}
                <div class='following-{{following.user_id}}'>
                    <button onclick="onClickFollowing({{following.user_id}})">팔로잉</button>
                </div>
                {% else %}
                <div class="follow-{{following.user_id}}">
                    <button  onclick="onClickFollow({{following.user_id}})">팔로우</button>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block js %}
    <script src="{% static 'javascripts/follow_list.js' %}"></script>
{% endblock %}