<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <div>
            <label for="username">이름</label>
            {{form.name}}
        </div>
        <div>
            {% for error in form.userid.errors %}
                {{error}}
            {% endfor %}            
            <label for="username">아이디</label>
            {{form.userid}}
        </div>
        <div>
            {% for error in form.email.errors %}
                {{error}}
            {% endfor %}
            <label for="username">이메일</label>
            {{form.email}}
            
        </div>
        <div>
            {{form.password1.errors}}
            <label for="username">비밀번호</label>
            {{form.password1}}
        </div>
        <div>
            {{form.password2.errors}}
            <label for="username">비밀번호 확인</label>
            {{form.password2}}
        </div>
        <input type="submit" value="저장하기">
    </form>
</body>
</html>