{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'style/css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="about-back">
<div class="container-fluid main-body d-flex align-items-center justify-content-center" style="height:100vh;">
<div class="slide mb-4 text-center" style="height:80%; width:80%;">
    <input type="radio" name="pos" id="pos1" checked>
    <input type="radio" name="pos" id="pos2">
    <input type="radio" name="pos" id="pos3">
    <ul>
      <li id="about-list">
        <h1 style="font-weight:bold; font-size: calc(1.7rem + 1.5vw);">GARDENER</h1>
        <div class="p-1">
        <h5 class="mt-4" style="font-size: calc(0.5rem + 1.1vw);line-height: 2.5rem;">
        자신만의 플랜테리어를 기록하고 관련 정보를 함께 공유하는<br>플랜테리어 전문 웹서비스<br>
        </h5>
        </div>
      </li>
      <li id="about-list2">
      <div class="p-3">
            {% comment %} <h1 style="font-weight:bold; font-size: calc(1.7rem + 1.5vw);">FEATURES</h1> {% endcomment %}
            <h5 class="mt-4" id="about-list-text1">
            Share Your Lovely Garden
            </h5>
            <p class="mt-2" id="about-list-text2">
            - 여러분들의 플랜테리어를 공유해보세요 - <br>
            </p>
            <h5 class="mt-4" id="about-list-text1">
            Learn About Your Plant
            </h5>
            <p class="mt-2" id="about-list-text2">
            - 여러분들의 맟춤 식물에 대해 알아보세요 -<br>
            </p>
          <h5 class="mt-4" id="about-list-text1">
            Be With Other Gardeners
          </h5>
          <p class="mt-2" id="about-list-text2">
            - 여러 가드너들과 함께해보세요 - <br>
          </p>
          <h5 class="mt-4" id="about-list-text1">
            Wish All the Best
          </h5>
          <p class="mt-2" id="about-list-text2">
            - 여러분들의 행복한 가드닝을 응원합니다 -<br>
          </p>
      </div>      
      </li>
      <li id="about-list">
       <h1 style="font-weight:bold; font-size: calc(1.7rem + 1.5vw);">DEVELOPER</h1>
        <div class="p-1">
        <h5 class="mt-4" style="font-size: calc(0.5rem + 1.1vw);line-height: 2.5rem;">
         CEO : 서지운<br>
         부장 : 김승주  <br>
         차장 : 구건모 <br>
         인턴 : 최도윤 
        </h5>
        </div>
      <li>
      
      
      
      
      
      </li>
    </ul>
    <p class="bullet">
      <label for="pos1">1</label>
      <label for="pos2">2</label>
      <label for="pos3">3</label>
    </p>
  </div>
  </div>
  </div>
  

{% endblock %}