{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="{% static 'style/css/base.css' %}" rel="stylesheet">
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>

    {% block head %}
    {% endblock %}
    <title>OurPlant</title>
</head>
<main>

<header>
    <div class="row d-flex justify-content-end"  style="margin: auto; width: 80%; margin-top: 1.6rem; padding-right:3rem;">
    {% if request.user.is_authenticated %}
        <div class="col d-flex justify-content-end">
            <a href="{% url 'user:logout' %}" style="margin-right:1rem;">로그아웃</a>
            <a href="{% url 'user:my_profile' %}" style="margin-right:0.35rem;">{{ request.user.userid }}</a>
            <img class="lazyload" data-src="{{ request.user.Image.url }}" style="width: 1.5rem; height: 1.5rem; border-radius: 50%;">
        </div>
        {% else %}
        <div class="col d-flex justify-content-end">
            <a href="{% url 'user:signup' %}" style="padding-right:5px">회원가입</a>
            <a href="{% url 'user:login'%}">로그인</a>
        </div>
        {% endif %} 
    </div>
    <div class="row justify-content-between" style="margin: auto; width: 80%; margin-bottom: 2rem;">
        <div id="main-logo" class="col-3" style="display: inline-block;">
            <a href="{% url 'community:post_list'%}">
                <img style=" height: 6.8rem;" src="{% static 'images/ourplant_logo.svg' %}" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 d-flex align-items-center">
            <div class="row w-100">
                {% block search %}
                {% endblock %}
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" style="border-top: solid 1px #c7c7c7; border-bottom: solid 1px #c7c7c7; width: 80%; margin:auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse justify-content-start" id="navbarTogglerDemo01" style="width: 70%;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.4rem" href="{% url 'community:post_list' %}">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.4rem" href="{% url 'search:plant_list' %}">식물검색</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.4rem" href="{% url 'QnA:communityquestion_list' %}">질문게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.4rem" href="{% url 'community:notice' %}">공지사항</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" style="font-size:1.4rem" href="{% url 'user:search_gardener'%}">친구찾기</a>
                    {% else %}
                        <a class="nav-link" style="font-size:1.4rem" onclick="alert('로그인이 필요합니다!')" href="{% url 'user:login'%}">친구찾기</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.4rem" href="{% url 'event:issue' %}">카드뉴스</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.4rem" href="{% url 'event:challenge' %}">챌린지</a>
                </li>
            </ul>
        </div>
        {% block button %}
        {% endblock %}
        <!-- <div>
            <button style="background-color: white; border: solid 1px #76B79C; border-radius: 15px;"><a href="{% url 'QnA:makequestion' %}" style="font-size: 1.4rem; color:#76B79C;">질문하기</a></button>
            <button style="background-color: white; border: solid 1px #76B79C; border-radius: 15px;"><a href="{% url 'QnA:makequestion' %}" style="font-size: 1.4rem; color:#76B79C;">질문하기</a></button>    
        </div> -->
    </nav>
</header>

{% block content %}
{% endblock %}

</main>
<footer class="text-lg-start d-flex align-items-center">
    <div style="width:150rem; margin: auto;" class="d-flex justify-content-between align-items-center">
        <div style="font-size: 1.4rem;" class="text-start p-3" style="color: 8F8F8F;">
            Contact Us <br>
            pirogardener@gmail.com
        </div>
        <div style="font-size: 1.4rem;" class="text-end p-3" style="color: 8F8F8F;">
            © Our Plant All rights reserved <br>
            plants images : 
            <a style="font-size: 1.4rem;" href="http://www.nongsaro.go.kr">www.nongsaro.go.kr</a>
        </div>
    </div>
    <!-- Copyright -->
</footer>

<script>
    $(document).ready(function () {
        var url = window.location;
        $('ul.navbar-nav a[href="'+ url +'"]').addClass('active');
        $('ul.navbar-nav a').filter(function() {
             return this.href == url;
        }).addClass('active');
    });
    
    $(document).ready(function () {
        var url = window.location;
        $('div.profile-post-header__item a[href="'+ url +'"]').addClass('active');
        $('div.profile-post-header__item a').filter(function() {
             return this.href == url;
        }).addClass('active');
    });

    CKEDITOR.on('dialogDefinition', function (ev) {    
    var dialogName = ev.data.name;        
    var dialog = ev.data.definition.dialog;
    var dialogDefinition = ev.data.definition;
    if (dialogName == 'image') {
        dialog.on('show', function (obj) {
            this.selectPage('Upload'); //업로드텝으로 시작
        });
    dialogDefinition.removeContents('advanced'); // 자세히탭 제거
    dialogDefinition.removeContents('Link'); // 링크탭 제거
    }
    });

        

</script>
<script src="{% static 'javascripts/lazysizes.min.js' %}"></script>
{% block js %}
{% endblock %}
</html>