{% extends 'login_base.html' %}
{% load static %}

{% block content %}
<div class="col-6 d-flex flex-column justify-content-center" style="width: 30vw;">
    <div>
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div style="margin-bottom: 2.68rem;">
        <p class="mt-3 pt-3 pb-3" style="font-size: 1.5rem; font-weight: 900;">"나와 지구의 환경을 위한 방법"</p>
        <p style="font-size:0.875rem; width: 28rem;">‘OUR PLANT’는 끝에 청춘이 피어나는 것은 용감하고 그들을 약동하다.<br>
            이상의 눈에 넣는 아니다. 인류의 것은 청춘의 아니다.<br>
            예가 희망의 이상은 뿐이다. 내는 피부가 몸이 인생을 유소년에게서 사막이다.</p>
    </div>
    <div>
        <a href="{% url 'community:post_list' %}">
            <button style="height: 2.625rem; width: 9.18rem; color:white; background-color: #354847;">둘러보기</button>
        </a>
    </div>
</div>

{% endblock %}
