*{margin:0;padding:0;}
ul,li{list-style:none;}
.slide{overflow:hidden;position:relative;}
.slide li{position:absolute;left:0;right:0;top:0;bottom:0;opacity:0;transition:1s;}
.slide li:nth-child(1){border:3px solid #ccdfcc;
    background: url("/static/images/back5.jpg");
    background-repeat: no-repeat;
    background-position: 80% 65%;
    background-size: cover;
}
.slide li:nth-child(2){
    border:3px solid#ccdfcc;
    background: url("/static/images/back11.png");
    background-repeat: no-repeat;
    background-position: 80% 65%;
    background-size: cover;
}
.slide li:nth-child(3){border:3px solid #ccdfcc;
    background: url("/static/images/back9.png");
    background-repeat: no-repeat;
    background-position: 80% 65%;
    background-size: cover;
}
.slide input{display:none;}
.slide .bullet{position:absolute;bottom:20px;left:0;right:0;text-align:center;z-index:10;}
.slide .bullet label{width:10px;height:10px;border-radius:10px;border:2px solid #666;display:inline-block;background:#fff;font-size:0;transition:0.5s;cursor:pointer;}
/* 슬라이드 조작 */
#pos1:checked ~ ul li:nth-child(1),
#pos2:checked ~ ul li:nth-child(2),
#pos3:checked ~ ul li:nth-child(3) {opacity:1;}
/* bullet 조작 */
#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3){background:#666;}

#about-back{
    width:100%;
    height: 100%;
}
#about-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
#about-list2{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}