@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
* {
  font-family: "Noto Sans KR"!important;
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 900px) {
  #image-container {
    display: none;
  }
  #image-container img {
    display: none;
  }
  #left-container {
    margin-right: 0px !important;
  }
}

main {
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;
  overflow: hidden;
}

header {
  font-family: "Noto Sans KR", sans-serif;
  width: auto;
}

#mainbody {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.main-body {
  width: 80%;
  padding-left: 0;
  padding-right: 0;
  font-family: "Noto Sans KR", sans-serif;
}

footer {
  padding: 2%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: small;
  background-color: #ccdfcc;
  height: auto;
  position: relative;
  margin-top: -100px;
  width: auto;
}

.navbar {
  z-index: 0;
  position: sticky;
}

.nav-link.active {
  color: #a0cab5 !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
  margin: 0 30px 0 20px;
  z-index: 2;
}

.nav-item {
  font-weight: 600;
  margin: 0 10px;
}

.contact {
  margin-bottom: 5px;
  font-size: medium;
  font-weight: bold;
}

.logo-image {
  width: 120px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 11px;
  left: 20px;
}

.list-header * {
  font-size: 1.4rem;
  color: #8f8f8f;
}

.list-main * {
  font-size: 1.5rem;
}

.profile-image img {
  overflow: hidden;
  width: 35px;
  height: 30px;
  padding: 2px;
  border-radius: 100%;
}

.django-ckeditor-widget {
  width: 100%;
}

.page-link {
  color: #354847;
}

.activate a {
  background-color: #a0cab5;
  color: white;
}

.pagination {
  font-size: calc(0.5rem + 0.5vw);
}

.page-link-circle {
  background: #f3f3f3;
}

.line {
  background-color: #eaeaea;
  width: 100%;
  height: 1px;
  margin-bottom: 1rem;
}

.make-something {
  background-color: white;
  border: solid 1px #76b79c;
  border-radius: 15px;
}

.make-something a {
  font-size: 1.4rem;
  color: #76b79c;
}

.go-to-main {
  background-color: white;
  border: solid 1px #8f8f8f;
  border-radius: 15px;
}

.go-to-main a {
  font-size: 1.4rem;
  color: #8f8f8f;
}

.search-input {
  width: 80%;
  border: none;
  border-radius: 20px;
}
#search{
  display :inline-block;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  border: 1px solid #76b79c;
  border-radius: 20px;
  height: 3.5rem;
}
.searchbtn{
  border:none;
  background: none;
}
.search-input-1 {
  border:none;
}