.regular-size {
    width: 20rem; 
    height: 2.5rem;
  }
  
  .button-black {
    color: white; 
    background-color: #354847;
  }

  .button-white {
    color: #354847; 
    border:solid 1px #354847;
  }

  .social-login-btn {
    text-align: center; 
    vertical-align: center; 
    border: solid 1px #8F8F8F; 
    margin-bottom: 1rem; 
    color: #8F8F8F; 
    text-decoration: #8F8F8F;
  }

  #left-container {
    margin-right: 6.3125rem; 
    width: 21.5rem;
  }

*{
    font-size: 100%;
}

@media screen and (max-width : 900px){
html {font-size:0.8rem}  
}

@media screen and (max-width : 560px){
    html {font-size:0.6rem}  
}

@media screen and (max-width : 900px){
    #image-container{
      display: none;
    }
    #image-container img {
      display: none;
    }
    #left-container{
      margin-right: 0px!important;
    } 
}

.logo-size {
  height: 4.8125rem;
}

body > main > header > div.row.d-flex.justify-content-end > div > a:nth-child(2){
  padding-right: 1rem;
}